{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}

    <h1>About Django Packages</h1>
    
    <p>Django Packages solves the problem in the Django community of being able to easily identify good 
        apps, frameworks, and packages. Ever want to know which is the most popular or well supported Django 
        blog, content management system, or api tool? Django Packages solves that problem for you!
    </p>
    
    <p>A Django package is anything that is involved in the Django ecosphere that can be stored on a 
        repository such as Github or Bitbucket. If it can be stored in <a href="http://pypi.org">PyPI</a>,
        that's even better!
    </p>
    
    <p>Django Packages was conceived for and coding during <a href="http://djangodash.com">Django Dash 2010</a>.</p>
    
    <h2>What are grids?</h2>    
    
    <p><a href="/grid">Grids</a> let you compare Django packages to each other. A grid comes with a number of default items compared,
        but you can add more features in order to get a more specific comparison.</p>
        
    <p>For now, we are trying out Django Packages without the traditional tagging system, because we think that
        grids give us a lot more specificity.
    </p>
    
    <h2>What categories of Django Packages are listed?</h2>
    
    <p>Right now there are three categories, <strong>apps</strong>, <strong>frameworks</strong>, <strong>projects</strong>.
        Blogs and CMS's are invariably apps, frameworks, or projects so they don't get their own category.
    </p>
    
    <h2>Bitbucket and Google Code are not fully supported!</h2>
    
    <p>Not yet. Django Packages was cooked up during <a href="http://djangodash.com">Django Dash 2010</a>. 
        We wanted to keep the scope of our work reasonable. We'll try and include those sites in the future.
    </p>

{% endblock %}