{% extends "base.html" %}

{% load i18n %}

{% block head_title %}About {{ SITE_TITLE }}{% endblock %}

{% block body %}

    <h1>About {{ SITE_TITLE }}</h1>
    
    <p>{{ SITE_TITLE }} solves the problem in the {{ FRAMEWORK_TITLE }} community of being able to easily identify good 
        apps, frameworks, and packages. Ever want to know which is the most popular or well supported {{ FRAMEWORK_TITLE }}  
        blog, content management system, or api tool? {{ SITE_TITLE }} solves that problem for you!
    </p>
    
    <h2>What is a {{ SITE_TITLE }}?</h2>
    
    <p>A {{ SITE_TITLE }} is anything that is involved in the {{ FRAMEWORK_TITLE }} ecosphere that can be stored on a 
        repository such as Github or Bitbucket. If it can be stored in <a href="http://pypi.org">PyPI</a>,
        that's even better!
    </p>
    
    <h2>When did you code this?</h2>
    
    <p>Open Comparison was conceived for and coding during <a href="http://djangodash.com">Django Dash 2010</a>.
        Since then we've been feverishly adding more features, improving the design, and trying to make data entry
         as easy/intuitive as possible.
    </p>

    <h2>Who built this thing?</h2>
    
    <p>Daniel Greenfeld and Audrey Roy are the creators of this project. Additional contributing members are detailed in
        the <a href="/help/team/">team page.</a>        
    </p>
    
    <h2>Can I help?</h2>
    
    <p>
        Open Comparison is an volunteer based <a href="http://github.com/opencomparison/opencomparison">open source effort</a>.
        Please <a href="http://github.com/opencomparison/opencomparison/issues">submit any ideas or issues</a> and 
        also fork and submit back patches and enhancements.
    </p>

    <h2>I want to know more!</h2>    
    
    <p>{{ SITE_TITLE }} also has a <a href="/help/">help</a> section.</p>
        
{% endblock %}