/* Awesome buttons are from http://www.zurb.com/blog_uploads/0000/0617/buttons-03.html */

.awesome, .awesome:visited {
	background: #222 url(../img/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 2px 5px 3px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
.awesome:hover { color: #fff; }
.awesome:active { top: 1px; }
.small.awesome { font-size: 11px; }
.medium.awesome { font-size: 13px; }
.large.awesome, .large.awesome:visited { font-size: 14px; font-weight: 700; padding: 8px 14px 9px; }
.xlarge.awesome, .xlarge.awesome:visited { font-size: 36px; font-weight: 700; padding: 8px 14px 9px; }
.green.awesome, .green.awesome:visited { background-color: #91bd09; }
.green.awesome:hover { background-color: #749a02; }
.blue.awesome, .blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover { background-color: #007d9a; }
.red.awesome, .red.awesome:visited { background-color: #e33100; }
.red.awesome:hover { background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome, .orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover { background-color: #fc9200; }

.darkbrown, .darkbrown:visited { background-color: #28220b; } /* I like to use darkbrown buttons for packages */
.darkbrown:hover { background-color: #1c1807; color: #fff; }
.purple, .purple:visited { background-color: #2F1D1D; } /* and purple for grids */
.purple:hover { background-color: #191010; color: #fff; }
.lavender, .lavender:visited { background-color: #815562; }
.lavender:hover { background-color: #714552; }

.forestgreen.awesome, .forestgreen.awesome:visited { background-color: #36bc6c; }
.forestgreen.awesome:hover { background-color: #237946; }
.mintgreen.awesome, .mintgreen.awesome:visited { background-color: #87deaa; }
.mintgreen.awesome:hover { background-color: #2ca05b; }
.skyblue.awesome, .skyblue.awesome:visited { background-color: #75dfca; }
.skyblue.awesome:hover { background-color: #26a38a; }

