/* the entire right column */
#home-rightcol { float: right; margin-left: 20px; }

/* blue boxes in the right column */
.home-rightcolbox { width: 260px; padding: 1px 20px 10px 20px; margin-bottom: 20px; background-color: #C0F1D1; }

/* for search boxes */

input#hidden-submit { display: none; }

#home-packages img { vertical-align: middle; }

/* autocomplete */

.ui-autocomplete { background: #fff; text-align: left; border: 1px solid #bfbfbf; }
.ui-state-hover { background: #eee; }
.ui-menu-item a { display: block; padding: 3px 10px; }
