#home-rightcol {
    float: right;
    margin-left: 20px;
}

.home-rightcolbox {
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #C0F1D1;
}

input#hidden-submit {
    display: none;
}

#home-packages img {
    vertical-align: middle;
}

