/* This overrides styles from base.css */
#tabhead {
    background: #fff;
    border: 0;
    position: relative;
}
#tabhead .logo {
    height: 40px;
    padding: 6px 0 0 10px;
    font-weight: 700;
    background-color: #fff;
}
#tabhead .logo h1 {
    line-height: 80%;
    font-size: 38px;
    display: inline;
    padding-right: 26px;
}
#tabhead .logo h2 {
    font-size: 17px;
    display: inline;
}
#tabhead .logo a {
    color: #333;
    text-decoration: none;
}
#tabhead .logo img {
    width: 190px;
    height: 79px;
}
#tabhead .login {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #333; /* login bar text colour */
}
#tabhead .login a, #tabhead .login a:visited {
    color: #333; /* login bar link colour */
}
#tabhead .login a:hover {
    color: #DEF; /* login bar link hover colour */
}

#body {
    width: 960px;
}

#footer {
    width: 100%;
    text-align: center;
}

/* Sticky footer from http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
   (still overriding base.css) */

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
}

/* This overrides styles from tabs.css */
#left_tabs {
    position: relative;
    clear: both;
    left: 0px; /* choose 120px if based on width and padding of logo */
    background: #000;
    bottom: 0;
    min-height: 80px;
    padding: 1px;
}
#multi-col-nav {
    -moz-column-count: 5;
    -webkit-column-count: 5;
}
#multi-col-nav li {
    list-style-type: none;
}

#multi-col-nav li a,
#multi-col-nav li a:visited {
    color: #fff;
	  font: 11px Helvetica, Arial, sans-serif;
    text-decoration: none;
	  text-transform: uppercase;
	  letter-spacing: 1px;
}

#multi-col-nav li a:hover {
    font-weight: 800;
}

#cardboard-boxes {
    float: left;
    margin: 20px 12px 0 12px;
}

/* Style all tables the same way throughout the site 
This is a very stripped version of:
     http://veerle-v2.duoh.com/blog/comments/a_css_styled_table/ 
     http://www.duoh.com/csstutorials/csstables/ 
In the future, add the table gradients and bullets, maybe. */
th {
	  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	  color: #4f6b72;
	  border: 1px solid #C1DAD7;
	  letter-spacing: 2px;
	  text-transform: uppercase;
	  text-align: left;
	  padding: 6px 6px 6px 12px;
	  background: #CAE8EA;
}

td {
	  border: 1px solid #C1DAD7;
	  background: #fff;
	  padding: 6px 6px 6px 12px;
	  color: #4f6b72;
}

.editable-cell {
    background: #FCF1C2;
}
