/* General */

body { background: #FFF; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 10pt; margin: 0;}
#body { width: 960px; padding-left: 30px; }

table, form, fieldset { border: 0; }

a { color: #2F1D1D; }

/* Awesome buttons are from http://www.zurb.com/blog_uploads/0000/0617/buttons-03.html */
.awesome, .awesome:visited {
	background: #222 url(/images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
.awesome:hover { color: #fff; }
.awesome:active { top: 1px; }
.small.awesome { font-size: 11px; }
.medium.awesome { font-size: 13px; }
.large.awesome, .large.awesome:visited { font-size: 14px; font-weight: 700; padding: 8px 14px 9px; }
.green.awesome, .green.awesome:visited { background-color: #91bd09; }
.green.awesome:hover { background-color: #749a02; }
.blue.awesome, .blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover { background-color: #007d9a; }
.red.awesome, .red.awesome:visited { background-color: #e33100; }
.red.awesome:hover { background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome, .orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover { background-color: #fc9200; }

.darkbrown, .darkbrown:visited { background-color: #28220b; } /* I like to use darkbrown buttons for packages */
.darkbrown:hover { background-color: #1c1807; color: #fff; }
.purple, .purple:visited { background-color: #2F1D1D; } /* and purple for grids */
.purple:hover { background-color: #191010; color: #fff; }

.box_round {
     -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3-4 */
          border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */
}

/* This overrides styles from base.css */
#tabhead { border: 0; position: relative; }

#tabhead .logo { height: 40px; padding: 6px 0 0 10px; font-weight: 700; background-color: #FFF; }
#tabhead .logo h1 { line-height: 80%; font-size: 38px; display: inline; padding-right: 26px; }
#tabhead .logo h2 { font-size: 17px; display: inline; }
#tabhead .logo a { color: #121212; text-decoration: none; }

#tabhead .login { position: absolute; top: 6px; right: 15px; color: #333; } /* login bar text colour */
#tabhead .login a, #tabhead .login a:visited { color: #333; }
#tabhead .login a:hover { color: #DEF; }

#footer { width: 100%; text-align: center; }

/* Sticky footer from http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
   (still overriding base.css) */

.wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -4em; }

.footer, .push { height: 4em; }

/* Nav bar - overrides styles from tabs.css */
#cardboard-boxes { float: left; margin: 20px 12px 0 12px; }
#left_tabs { position: relative; clear: both; left: 0px; background: #2F1D1D; bottom: 0; min-height: 80px; padding: 1px; }
#multi-col-nav { -moz-column-count: 5; -webkit-column-count: 5; }
#multi-col-nav li { list-style-type: none; }
#multi-col-nav li a, #multi-col-nav li a:visited { color: #FFFFDD; font: 11px Helvetica, Arial, sans-serif; text-decoration: none; text-transform: uppercase; letter-spacing: 1px; }
#multi-col-nav li a:hover { font-weight: 800; }

/* Subnav bar - overrides styles from base.css */
#subnav { margin: 0; padding: 0; background: #815562; border-bottom: 1px solid #6F9C40; }


/* Style all tables the same way throughout the site  */
th { font-size: 11px; color: #4f6b72; border: 1px solid #C1DAD7; letter-spacing: 2px; text-transform: uppercase; text-align: left; padding: 6px 6px 6px 12px; background: #C0F1D1; }
td { border: 1px solid #C1DAD7; background: #fff; padding: 6px 6px 6px 12px; color: #4f6b72; }
.clickable { background: #FCF1C2; }
