#search-results { width: 960px; }

#grid-listing, #package-listing { float:left; width:450px; }
#package-listing { margin-right: 20px; }
#grid-listing { padding-left: 20px; border-left: 1px solid #C1DAD7;}

#package-listing dl { margin: 0; }
#package-listing dt { font-weight: bold; }
#package-listing dd { margin: 0; }

/*li .package-item { clear: right;}*/

.grid-item, .package-item { margin: 0; padding: 1em; border-bottom: 1px solid #C1DAD7;}
.grid-item h3, .package-item h3 { margin: 0; width: 420px;}

.date { font-style: italic; }
.package-item p.date { float: left; }
.package-downloads, .package-watchers { float: right; text-align: right; margin-left: 10px; padding-left: 25px;}
.package-downloads { background: url(../img/download_20x20_clear.png) no-repeat 0 center; }
.package-watchers { background: url(../img/eye_20x20_clear.png) no-repeat 0 center; }
.description { clear: both; margin-bottom: 5px;}
