/* SITE-SPECIFIC TAB STYLING */

body.home #tab_home a,
body.cms #tab_cms a,
body.forms #tab_forms a
{
    color: #000; /* selected tab text colour */
}
body.home #tab_home,
body.cms #tab_cms,
body.forms #tab_forms
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border: 1px solid #000; /* tab border */
}
