{% extends "base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load profile_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/account.css" />
{% endblock %}


<body class="{% block body_class %}account{% endblock %}">
{% block body %}
    
    {% if openid and not user.is_authenticated %}
        <p><span class="warning">{% blocktrans %}It appears you have started to login using OpenID. Want to <a href="/openid/register/">finish logging in</a>?{% endblocktrans %}</span></p>
    {% endif %}
    
    <h1>{% trans "Log In" %}</h1>
    
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ request.user }}.{% endblocktrans %}</p>
    {% else %}
        {% if request.ACCOUNT_OPEN_SIGNUP %}
        <p>Don't have an account? <a class="sign_up" href="{% url registration_register %}">Sign up</a>!</p>
        {% endif %}
    {% endif %}
    
    <form class="login uniForm" method="POST" action="{% url login %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url home %}{% endif %}">
        
        <fieldset class="inlineLabels">
            <div class="form_block">
                <a class="forgot_password" href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
            </div>
            {{ form|as_uni_form }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="form_block">
                <input class="login_submit" type="submit" value="{% trans "Log in &raquo;" %}" />
            </div>
        </fieldset>
    </form>
    
    {% include "account/includes/_trouble_ticket.html" %}
{% endblock %}

{% block extra_body %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}
