{% extends "account/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load flatblock_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% user_display user as user_display %}{% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% plain_flatblock 'email.text' %}</p>
{% endblock %}
