{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Waiting on approval process" %}{% endblock %}

{% block body %}
    <h1>{% trans "Waiting on approval process" %}</h1>
    
    <p>{% blocktrans %}
        We have sent you an e-mail to <b>{{ email }}</b> for verification.
        Follow the link provided to finalize the signup process. If you do not receive it
        within a few minutes,
        <a href="http://github.com/djangopackages/djangopackages/issues">submit a ticket.</a>.
                
        {% endblocktrans %}</p>
    <p><a href="{{ success_url }}">{% trans "Go back" %}</a></p>
{% endblock %}
