<!-- Footer -->
<footer class="text-primary-foreground">
    <div class="pt-8 pb-4" style="background-color: oklch(39.3% 0.095 152.535)">
        <div class="container px-4 mx-auto text-center">
            <p class="text-sm">
                Projects listed on Django Packages are third-party packages. They are
                not vetted nor endorsed by the Django Software Foundation. Use them at
                your own risk.
            </p>
        </div>
    </div>
    <div class="pt-4 pb-8 bg-primary">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap gap-6 justify-center text-sm">
                <a href="https://github.com/djangopackages/djangopackages" class="opacity-90 hover:underline hover:opacity-100">Repo</a>
                <a href="{% url 'faq' %}" class="opacity-90 hover:underline hover:opacity-100">FAQ</a>
                <a href="{% url 'terms' %}" class="opacity-90 hover:underline hover:opacity-100">Terms</a>
                <a href="https://github.com/djangopackages/djangopackages/blob/master/CONTRIBUTING.rst" class="opacity-90 hover:underline hover:opacity-100"
                >Contribute</a
                    >
                    <a href="{% url 'apiv4:api-root' %}" class="opacity-90 hover:underline hover:opacity-100">API</a>
                    <a href="{% url 'syndication' %}" class="opacity-90 hover:underline hover:opacity-100"
                    >RSS / Atom</a
                        >
                        <a href="{% url 'post_list' %}" class="opacity-90 hover:underline hover:opacity-100"
                        >Changelog</a
                            >
                            <a href="{% url 'funding' %}" class="opacity-90 hover:underline hover:opacity-100"
                            >Funding</a
                                >
                                <a href="https://jobs.django-news.com/" class="opacity-90 hover:underline hover:opacity-100"
                                >Django News Jobs</a
                                    >
                                    <a href="https://django-news.com/" class="opacity-90 hover:underline hover:opacity-100"
                                    >Django News Newsletter</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </footer>
