{% load i18n %}
<form method="post" action="{% if form_action %}{{ form_action }}{% else %}{% url 'add_package' %}{% if grid %}?grid_slug={{ grid.slug }}{% elif grid_slug %}?grid_slug={{ grid_slug }}{% endif %}{% endif %}" hx-post="{% if form_action %}{{ form_action }}{% else %}{% url 'add_package' %}{% if grid %}?grid_slug={{ grid.slug }}{% elif grid_slug %}?grid_slug={{ grid_slug }}{% endif %}{% endif %}" hx-target="#package-form-container" hx-swap="innerHTML">
    {% csrf_token %}
    {% include "new/partials/form_renderer.html" %}
    <div class="flex gap-3 mt-6">
        <button type="submit" class="w-full md:w-auto btn-primary">
            {% if action == "edit" %}
                <i class="mr-1 text-lg ph-bold ph-floppy-disk"></i>
                {% translate "Save" %}
            {% else %}
                <i class="mr-1 text-lg ph-bold ph-plus"></i>
                {% translate "Create Package" %}
            {% endif %}
        </button>
        {% if action != "edit" %}
            <button type="button" class="btn-secondary" onclick="window.location.reload()">
                {% translate "Try Another URL" %}
            </button>
        {% endif %}
    </div>
</form>
