{% extends "base.html" %}

{% load humanize i18n page_metadata_tags %}

{% block metadata %}
    {% translate "Readiness" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock metadata %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="pt-8 pb-4 col-lg-12">
                <h1 class="text-6xl font-bold">
                    {{ release.product.title }} {{ release.cycle }} Readiness
                </h1>
                {% if release.is_eol %}
                    <div class="tw-bg-yellow-300 tw-text-4xl tw-text-black tw-px-4 tw-py-4">
                        <span>🚧</span>
                        {{ release.product.title }} {{ release.cycle }} support expired on {{ release.eol }}.
                    </div>
                {% endif %}
                <div>{{ release.product.title }} {{ release.cycle }} support graph for the {{ packages|length }} most popular {{ release.product.title }} packages!</div>
                <h2>How do you identify {{ release.product.title }} {{ release.cycle }} support?</h2>
                <p>We look for the <code>{{ ready_condition }}</code> classifier on the latest release of the project.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class="tw-text-4xl tw-pb-4 tw-font-medium">{{ product_slug }} Release {{ cycle }}</h2>
                <div class="tw-grid tw-gap-2 sm:tw-grid-cols-2 lg:tw-grid-cols-3 xl:tw-grid-cols-4">
                    {% for package in packages %}
                        <div class="tw-px-4 tw-py-2 tw-rounded tw-rounded-xl
                                    {% if package.is_ready == 'yes' %}tw-bg-green-500 tw-text-gray-900
                                    {% elif package.is_ready == 'maybe' %}tw-bg-yellow-200 tw-text-gray-900
                                    {% else %}tw-bg-gray-100 tw-text-gray-100{% endif %}">
                            <a class="tw-text-gray-900" href="{% url 'package' slug=package.slug %}">
                                <span class="tw-font-bold tw-rounded tw-rounded-3xl">#{{ forloop.counter }}</span>
                                <span class="tw-underline">{{ package.title }} ({{ package.pypi_downloads|intcomma }} downloads)</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include "includes/_readiness-footer.html" %}
    </div>
{% endblock body %}
