{% load cache %}
{% load package_tags %}
<tr  id="package-{{ package.id }}">
    <td class="usage-count">{{ package.usage_count }}</td>
    <td class="usage-button">{% if package.pk in used_packages_list %}
        {% usage_button %}
    </td>
    <td>{{ package.pypi_downloads }}</td>
    <td><a href="{% url package package.slug %}">{{ package.title }}</a></td>
    {% cache 500 commitchart package %}                
        <td><img id="package-githubcommits" src="http://chart.apis.google.com/chart?cht=bvg&chs=105x20&chd=t:{{package|commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" /></td>
    {% endcache %}                
    <td>{{ package.pypi_version.number|default:"n/a"|slice:":12" }}</td>
    <td>{{ package.repo_watchers|default:"n/a" }}</td>
    <td>{{ package.repo_forks|default:"n/a" }}</td>
    <td>{{ package.created|timesince }} ago</td>    
</tr>