{% extends "package/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Add new example" %}{% endblock %}

{% block body %}

    <h1>{% trans "Add new example" %}</h1>
    
    <form class="uniForm" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}

            <div class="form_block">        
                <input class="awesome forestgreen" type="submit" name="add" value="{% trans "Add new example" %}">
                <a href="{% url package package.slug %}">{% trans "cancel" %}</a>
            </div>            
        </fieldset>

    </form>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_title").focus();
</script>
{% endblock %}
