{% extends "base.html" %}

{% load i18n %}
{% load package_tags %}
{% load page_metadata_tags %}
{% load render_table from django_tables2 %}

{% block metadata %}
    {% trans "Welcome" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
{% endblock %}

{% block body_class %}home{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2><a
                        href="{% url 'categories' %}">{% trans "Categories" %}</a> ›› {{ category.title_plural }}
                        ( {{ table.paginator.count }} )</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <p>{{ category.description }}</p>
            {% if request.user.is_authenticated and profile.can_add_package %}
                <p>
                    <a class="btn btn-primary" href="{% url 'add_package' %}">{% trans "Add Package »" %}</a>
                </p>
            {% endif %}
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CWYD55QU&placement=djangopackagesorg-category" id="_carbonads_js"></script>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    {% render_table table %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
