{% extends "site_base.html" %}

{% load cache %}
{% load i18n %}
{% load ifsetting_tag %}
{% load package_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

     <h1><a href="{% url home %}">home</a> / <a href="{% url categories %}">categories</a> / {{ category }}s ( {{ packages.count }} )</h1>
     
    <p>{{ category.description }}</p>
    <table id="home-packages">
        <tr id="home-tableheader">
            <td><a href="#">PYPI DOWNLOADS</a></td>
            <td><a href="#">NAME</a></td>
            <td><a href="#">COMMITS</a></td>
            <td><a href="#">VERSION</a></td>
            <td><a href="#"><img src="{{ STATIC_URL }}img/eye_20x20_clear.png" /></a></td>
            <td><a href="#"><img src="{{ STATIC_URL }}img/fork_20x20_clear.png" /></a></td>
        </tr>

        {% for package in packages %}
            <tr id="home-tabledatarow">
                <td>{{ package.pypi_downloads }}</td>
                <td><a href="{% url package package.slug %}">{{ package.title }}</a></td>
                {% cache 500 commit_chart package %}                
                    <td><img id="package-githubcommits" src="http://chart.apis.google.com/chart?cht=bvg&chs=105x20&chd=t:{{package|commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" /></td>
                {% endcache %}                
                <td>{{ package.pypi_version }}</td>
                <td>{{ package.repo_watchers }}</td>
                <td>{{ package.repo_forks }}</td>
            </tr>    
        {% endfor %}        
     </table>
    

{% endblock %}
