{% extends "package/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Edit package example" %}{% endblock %}

{% block body %}

    <h2>{% trans "Delete package example" %}</h2>

    <p>{% trans "Ready to delete" %} <b>{{ package_example.title }}</b></p>
    <a href="{% url 'package' package_example.package.slug %}">{% trans "cancel" %}</a>
    {% if user.id == package_example.created_by.id %}
        <form action="{% url 'confirm_delete_example' package_example.package.slug package_example.id %}" method="post" id="example-delete">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" name="delete" value="{% trans "Delete" %}">
        </form>
    {% endif %}

{% endblock %}


{% block extra_body %}
<script>
    $("#id_title").focus();
</script>
{% endblock %}
