{% extends "package/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "package documentation form" %}{% endblock %}

{% block body %}

    <h2><a href="{% url 'home' %}">{% trans "home" %}</a> / <a href="{% url 'packages' %}">{% trans "packages" %}</a> / {{ action|title }} {% trans "package" %}</h2>

    <p id="package-form-message"></p>    
    <form action="{{ request.path }}" method="post" id="package-form">
        {{ form.errors }}
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        
        <input class="btn btn-default" type="submit" name="add" value="{{ action }} {% trans "Submit" %}">
    </form>

{% endblock %}

{% block extra_body %}
{% if not package.documentation_url.strip %}
<script type="text/javascript">
    $(function() {
        var url = "https://readthedocs.org/api/v1/build/{{ package.slug }}/?format=jsonp";
        $.ajax({
          url: url,
          dataType: 'jsonp',
          success:function(data){
              if (data.objects.length > 0){
                  var href = "https://readthedocs.org/projects/{{ package.slug }}";
                  $("#id_documentation_url").val(href);
              };
          }
        });
    });
</script>
{% endif %}

{% endblock %}
