{% extends "package/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}Edit package{% endblock %}

{% block subnav %}
        &nbsp;
{% endblock %}

{% block body %}

    <h1>Edit package</h1>
    
    <form class="uniForm" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
        </fieldset>
        <div class="form_block">        
            <input type="submit" name="edit" value="Edit">
            <a href="{% url package package.slug %}">cancel</a>
        </div>
    </form>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_title").focus();
</script>
{% endblock %}