{% extends "package/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Packages" %}{% endblock %}

{% block body %}

    <h1>{% trans "Latest 15 packages added" %}</h1>
    {% if profile.can_add_package %}
    <a href="{% url add_package %}">{% trans "Add a new package!" %}</a>
    {% endif %}
    <div id="packages">
    <ul id="package-archive-list">
        {% for package in latest %}
            {% include "package/includes/_package.html"%}
        {% endfor %}
    </ul>
    </div>

{% endblock %}
