{% extends "package/base.html" %}

{% load i18n %}
{% load package_tags %}

{% block head_title %}{{ object.title }}{% endblock %}


{% block body %}
    
    <h1><a href="{% url home %}">home</a> / <a href="{% url packages %}">packages</a> / {{ object.title }}
        <a href="{% url edit_package object.slug %}"><img src="{{ STATIC_URL }}img/icon_changelink.gif" alt="edit" /></a>
    </h1>
    
    <p>
        {{ object.repo_description }}
    </p>
    
    <p><strong>Category:</strong> <a href="{% url category object.category.slug %}">{{ object.category }}</a></p>    

    <table>
        <thead>
        <tr>
            <th>Usage</th>
            {% if not request.user.is_anonymous %}                
                <th></th>
            {% endif %}                
            <th></th>
        </tr>
        </thead>

        <tbody>
            <tr class="usage-container">
                <td class="usage-count">{{ object.usage.count }}</td>                
                {% if request.user.is_authenticated %}
                    <td class="usage-button">{% with object as package %}
                        {% if package.pk in used_packages_list %}
                        {% include "package/remove_usage_button.html" %}
                        {% else %}
                        {% include "package/add_usage_button.html" %}
                        {% endif %}
                    {% endwith %}</td>
                {% endif %}
                <td><a class="awesome lavender" href="{% url fetch_package_data object.slug %}">Fetch latest data</a></td>
            </tr>    
        </tbody>        
     </table>



    <h2>{{ object.repo.title }}</h2>
    <table>
        <tr>
            <th>Repo URL</th>
            <th>Commits</th>
            <th><img src="{{ STATIC_URL }}img/eye_20x20_clear.png" alt="Watchers" /></th>
            <th><img src="{{ STATIC_URL }}img/fork_20x20_clear.png" alt="Forks" /></th>
        </tr>
        <tr>
            <td><a href="{{ object.repo_url }}">{{ object.repo_url }}</a></td>
            <td><img src="http://chart.apis.google.com/chart?cht=bvg&chs=105x20&chd=t:{{object|commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" /></td>
            <td>{{ object.repo_watchers|default:"n/a" }}</td>
            <td>{{ object.repo_forks|default:"n/a" }}</td>
        </tr>
    </table>

    {% if object.pypi_url and object.pypi_url != "http://pypi.python.org/pypi/" %}
        <h2>PyPI</h2>
        <table>
            <tr>
                <th>PyPI URL</th>
                <th>Version</th>
                <th><img src="{{ STATIC_URL }}img/grayarrow_20x20_clear.png" alt="Downloads" /></th>
            </tr>
            <tr>
                <td><a href="{{ object.pypi_url }}">{{ object.pypi_url }}</a></td>
                <td>{{ object.pypi_version|default:"n/a" }}</td>
                <td>{{ object.pypi_downloads|default:"n/a" }}</td>
            </tr>
        </table>
    {% else %}
        <h2>No PyPI release</h2>
    {% endif %}

    <h2>Participants</h2>

    <p>
        {% for participant in object.participant_list %}
            <a href="{{ object.repo.url }}/{{ participant }}">{{ participant }}</a>
        {% endfor %}
        
    </p>

    <h2>Comparison Grids</h2>
    
    {% for grid in object.grids %}
        <div id="package-gridname"><a href="{% url grid grid.slug %}">{{ grid }}</a></div>    
        
        {% if forloop.last %}
            <div id="package-gridname">
                <a id="find-a-grid" href="#">Find another grid to join!</a>
                {% include "package/_attach_grid.html" %}
            </div>    
        
        {% endif %}
    {% empty %}
        <div id="package-gridname">
            <a id="find-a-grid" href="#">Find a grid to join!</a>
            {% include "package/_attach_grid.html" %}
        </div>
    {% endfor %}
    
    <h2>Sites using this package</h2>
    
    <div id="package-editlink">
        {% if request.user.is_authenticated %}        
            <a href="{% url add_example object.slug %}">Add an example</a>
        {% endif %}
    </div>
    
    {% with object.active_examples as examples %}
    {% if examples %}
    <ol id="package-sitelist">
        {% for example in examples %}
            <li>
                <a href="{{ example.url }}">{{ example.title }}</a>
                {% if request.user.is_authenticated %}
                    <div id="package-editlink">
                        <a href="{% url edit_example object.slug example.id %}">edit</a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
    {% endif %}
    {% endwith %}

{% endblock %}

{% block extra_body %}

<script type="text/javascript">
    $(function() {          

        $('#find-a-grid').click(function() {
            $('#find-a-grid').hide();
            $('#find-a-grid-form').show();
            $('#find-a-grid-input').focus();
            
            $('#find-a-grid-input').keyup(function() {
                var search_text = $('input#find-a-grid-input').attr('value');
                var search_text = '{% url ajax_grid_list %}?q=' + search_text + '&package_id={{ object.id }}';
                $.get(search_text, function(data) {
                  $('#target').html(data).show("slow");
                });                
            });                

            $("#find-a-grid-form").keypress(function(e) {
                  if (e.which == 13) {
                    return false;
                  };
            });       

        });

    });    
</script>      
{% endblock %}      
