{% extends "package/base.html" %}

{% load i18n %}
{% load package_tags %}

{% block head_title %}{{ package.title }}{% endblock %}

{% block extra_head %}
    <meta name="description" content="{{ package.repo_description }}" />
    <meta name="keywords" content="{{ package.grid_set.all|join:',' }}" />
{% endblock %}

{% block body %}
    
    <h1><a href="{% url home %}">{% trans "home" %}</a> / <a href="{% url packages %}">{% trans "packages" %}</a> / {{ package.title }}
        <a href="{% url edit_package package.slug %}"><img src="{{ STATIC_URL }}img/icon_changelink.gif" alt="edit" /></a>
    </h1>
    
    
<div id="package-wrap">    
      
      
    <div id="package-left">
        
        <p>
            {{ package.repo_description }}
        </p>

        <p><strong>{% trans "Category:" %}</strong> <a href="{% url category package.category.slug %}">{{ package.category }}</a></p>

        <table>
            <thead>
            <tr>
                <th>{% trans "# Using This" %}</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
                <tr class="usage-container">
                    <td class="usage-container">
                        <span class="usage-count" id="usage-count-{{ package.id }}">{{ package.usage.count }}</span>
                        &nbsp;
                        {% with package as package %}
                            {% usage_button %} 
                        {% endwith %}
                    </td>
                    <td id="fetch-cell"><a class="awesome forestgreen" href="{% url fetch_package_data package.slug %}">{% trans "Fetch latest data" %}</a></td>
                </tr>    
            </tbody>        
         </table>

        {% if package.pypi_url and package.pypi_url != "http://pypi.python.org/pypi/" %}
            <h2>PyPI {% if package.pypi_downloads %}{% blocktrans with package.pypi_downloads as pypi_downloads %}( {{ pypi_downloads }} downloads ){% endblocktrans %}{% endif %}</h2>
            <p><a href="{{ package.pypi_url }}">{{ package.pypi_url }}</a></p>
            <table>
                <tr>
                    <th>{% trans "Version" %}</th>
                    <th>{% trans "License" %}</th>                
                    <th><img src="{{ STATIC_URL }}img/grayarrow_20x20_clear.png" alt="Downloads" /></th>
                </tr>
                {% for version in package.version_set.by_version %}
                    {% if not version.hidden %}
                    <tr>
                        <td>{{ version.number }}</td>
                        <td>{{ version.license|default:"none" }}</td>                    
                        <td>{{ version.downloads|default:"n/a" }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% else %}
            <h2>{% trans "No PyPI release" %}</h2>
        {% endif %}

        <h2>{% trans "Participants" %}</h2>

        <p>
            {% for participant in package.participant_list %}
                <a href="{% participant_url package.repo participant %}">{{ participant }}</a>
            {% endfor %}
        
        </p>
    
    </div>
    <div id="package-right">
        
        <h2 class="rtd" style="display: none;">{% trans "Read the Docs" %}</h2>
        <p class="rtd" style="display: none;">{% blocktrans %}This project has documentation available for it on <a class="rtd">Read the Docs!</a>{% endblocktrans %}</p>

        <h2>{{ package.repo.title }}</h2>
        <table>
            <tr>
                <th>{% trans "Repo URL" %}</th>
                <th>{% trans "Commits" %}</th>
                <th><img src="{{ STATIC_URL }}img/eye_20x20_clear.png" alt="Watchers" /></th>
                <th><img src="{{ STATIC_URL }}img/fork_20x20_clear.png" alt="Forks" /></th>
            </tr>
            <tr>
                <td><a href="{{ package.repo_url }}">{{ package.repo_url }}</a></td>
                <td><img src="http://chart.apis.google.com/chart?cht=bvg&chs=105x20&chd=t:{{package|commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" /></td>
                <td>{{ package.repo_watchers|default:"n/a" }}</td>
                <td>{{ package.repo_forks|default:"n/a" }}</td>
            </tr>
        </table>        

        <h2>{% trans "Comparison Grids" %}</h2>
    
        {% for grid in package.grids %}
            <a href="{% url grid grid.slug %}" title="{{ grid.description }}">{{ grid }}</a>
        
            {% if forloop.last %}
                <div id="package-gridname">
                    <a class="awesome forestgreen" id="find-a-grid" href="#">{% trans "Find another grid to join!" %}</a>
                    {% include "package/includes/_attach_grid.html" %}
                </div>    
        
            {% endif %}
        {% empty %}
            <div id="package-gridname">
                <a class="awesome forestgreen" id="find-a-grid" href="#">{% trans "Find a grid to join!" %}</a>
                {% include "package/includes/_attach_grid.html" %}
            </div>
        {% endfor %}
    
        <h2>{% trans "Sites using this package" %}</h2>
    
        <div id="package-editlink">
            {% if request.user.is_authenticated %}        
                <a class="awesome forestgreen" href="{% url add_example package.slug %}">{% trans "Add an example" %}</a>
            {% endif %}
        </div>
    
        {% with package.active_examples as examples %}
        {% if examples %}
        <ol id="package-sitelist">
            {% for example in examples %}
                <li>
                    <a href="{{ example.url }}">{{ example.title }}</a>
                    {% if request.user.is_authenticated %}
                        <div id="package-editlink">
                            <a class="awesome forestgreen" href="{% url edit_example package.slug example.id %}">{% trans "edit" %}</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
        {% endif %}
        {% endwith %}
    
    </div>
    
</div>    

{% endblock %}

{% block extra_body %}

<script type="text/javascript">
    $(function() {
        pic1=new Image();
        pic1.src="{{ STATIC_URL }}img/progress.gif";
        $('#fetch-cell > a').click(function(){
            $('#fetch-cell').html('Updating <img src="{{ STATIC_URL }}img/progress.gif">');
            })
        });
</script>

<script type="text/javascript">
    $(function() {

        $('#find-a-grid').click(function(e) {
            e.preventDefault();
            $('#find-a-grid').hide();
            $('#find-a-grid-form').show();
            $('#find-a-grid-input').focus();
            
            $('#find-a-grid-input').keyup(function() {
                var search_text = $('input#find-a-grid-input').attr('value');
                var search_text = '{% url ajax_grid_list %}?q=' + search_text + '&package_id={{ package.id }}';
                $.get(search_text, function(data) {
                  $('#target').html(data).show("slow");
                });                
            });                

            $("#find-a-grid-form").keypress(function(e) {
                  if (e.which == 13) {
                    return false;
                  };
            });       

        });
        var url = "http://readthedocs.org/api/v1/build/{{ package.slug }}/?format=jsonp";
        $.ajax({
          url: url,
          dataType: 'jsonp',
          success:function(data){
              if (data.objects.length > 0){
                  var href = "http://readthedocs.org/projects/{{ package.slug }}";
                  $("a.rtd").attr("href", href);
                  $(".rtd").show();            
              };
          }
        });

    });    
</script>      
{% endblock %}      
