{% extends "package/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{{ action|title }} {% trans "package" %}{% endblock %}

{% block body %}

    <h2><a href="{% url 'home' %}">{% trans "home" %}</a> / <a href="{% url 'packages' %}">{% trans "packages" %}</a> / {{ action|title }} {% trans "package" %}</h2>
    <p id="instructions">{% blocktrans %}The easiest way to use this form is to simply enter the
         package repo URL into the repo URL field. {{ SITE_TITLE }} then does it's best to figure out the title,
         slug, and then fills in the appropriate fields for you.{% endblocktrans %}
    </p>

    <p id="package-form-message"></p>    
    <form action="{{ request.path }}" method="post" id="package-form">
        {{ form.errors }}
        <input type="hidden" name="temp" id="temp" value="" />
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        
        <input class="btn btn-default" type="submit" name="add" value="{{ action }} {% trans "package" %}">
    </form>

{% endblock %}

{% block extra_body %}
<script src="{{ STATIC_URL }}js/urlify.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/package_form.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        package_form(eval({{ repo_data|safe }}));
    });
</script>

{% endblock %}
