{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Packages" %}{% endblock %}

{% block body %}

    <h2>{% trans "Latest 15 packages added" %}</h2>
    {% if profile.can_add_package %}
    <a href="{% url 'add_package' %}">{% trans "Add a new package!" %}</a>
    {% endif %}
    <div class="list-group">
        {% for package in latest %}
            {% include "package/includes/_package.html"%}
        {% endfor %}
    </div>

{% endblock %}
