{% extends "base.html" %}

{% load django_tables2 %}
{% load humanize %}
{% load i18n %}
{% load package_tags %}
{% load page_metadata_tags %}

{% block metadata %}
    {% trans "django reusable apps, sites and tools directory" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock %}

{% block body %}
    {% for category in categories %}
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    <a href="{% url 'category' category.slug %}">{{ category.title_plural }}</a>
                    ({{ category.count }})
                </h2>
                <p>{{ category.description }}</p>
                {% render_table category.table %}
                <p>
                    <a href="{% url 'category' category.slug %}" class="btn btn-primary">
                        {% trans "Show " %}{{ category.title_plural }} ({{ category.count|intcomma }})
                    </a>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
