{% extends "base.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}
{% load page_metadata_tags %}

{% block metadata %}
    {% translate "Python 3" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock metadata %}

{% block extra_head %}
    {{ block.super }}
    {% include 'includes/_ethicalads-js.html' %}
{% endblock extra_head %}

{% block body_class %}home{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2><a href="{% url 'home' %}">{% translate "Home" %}</a> ›› Python 3 ( {{ table.paginator.count }} )</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% with ea_id="package-list" ea_type="text" %}
                    {% include 'includes/_ethicalads-tag.html' %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock body %}
