interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/rate_limit
  response:
    body:
      string: '{"resources":{"core":{"limit":5000,"used":4,"remaining":4996,"reset":1705117606},"search":{"limit":30,"used":0,"remaining":30,"reset":1705114078},"graphql":{"limit":5000,"used":0,"remaining":5000,"reset":1705117618},"integration_manifest":{"limit":5000,"used":0,"remaining":5000,"reset":1705117618},"source_import":{"limit":100,"used":0,"remaining":100,"reset":1705114078},"code_scanning_upload":{"limit":1000,"used":0,"remaining":1000,"reset":1705117618},"actions_runner_registration":{"limit":10000,"used":0,"remaining":10000,"reset":1705117618},"scim":{"limit":15000,"used":0,"remaining":15000,"reset":1705117618},"dependency_snapshots":{"limit":100,"used":0,"remaining":100,"reset":1705114078},"audit_log":{"limit":1750,"used":0,"remaining":1750,"reset":1705117618},"code_search":{"limit":10,"used":0,"remaining":10,"reset":1705114078}},"rate":{"limit":5000,"used":4,"remaining":4996,"reset":1705117606}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - repo, user, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1705117606'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '4'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/pydanny/dj-paginator
  response:
    body:
      string: '{"id":39753819,"node_id":"MDEwOlJlcG9zaXRvcnkzOTc1MzgxOQ==","name":"dj-paginator","full_name":"pydanny/dj-paginator","private":false,"owner":{"login":"pydanny","id":62857,"node_id":"MDQ6VXNlcjYyODU3","avatar_url":"https://avatars.githubusercontent.com/u/62857?v=4","gravatar_id":"","url":"https://api.github.com/users/pydanny","html_url":"https://github.com/pydanny","followers_url":"https://api.github.com/users/pydanny/followers","following_url":"https://api.github.com/users/pydanny/following{/other_user}","gists_url":"https://api.github.com/users/pydanny/gists{/gist_id}","starred_url":"https://api.github.com/users/pydanny/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pydanny/subscriptions","organizations_url":"https://api.github.com/users/pydanny/orgs","repos_url":"https://api.github.com/users/pydanny/repos","events_url":"https://api.github.com/users/pydanny/events{/privacy}","received_events_url":"https://api.github.com/users/pydanny/received_events","type":"User","site_admin":false},"html_url":"https://github.com/pydanny/dj-paginator","description":"Django
        + Pagination made easy.","fork":false,"url":"https://api.github.com/repos/pydanny/dj-paginator","forks_url":"https://api.github.com/repos/pydanny/dj-paginator/forks","keys_url":"https://api.github.com/repos/pydanny/dj-paginator/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pydanny/dj-paginator/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pydanny/dj-paginator/teams","hooks_url":"https://api.github.com/repos/pydanny/dj-paginator/hooks","issue_events_url":"https://api.github.com/repos/pydanny/dj-paginator/issues/events{/number}","events_url":"https://api.github.com/repos/pydanny/dj-paginator/events","assignees_url":"https://api.github.com/repos/pydanny/dj-paginator/assignees{/user}","branches_url":"https://api.github.com/repos/pydanny/dj-paginator/branches{/branch}","tags_url":"https://api.github.com/repos/pydanny/dj-paginator/tags","blobs_url":"https://api.github.com/repos/pydanny/dj-paginator/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pydanny/dj-paginator/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pydanny/dj-paginator/git/refs{/sha}","trees_url":"https://api.github.com/repos/pydanny/dj-paginator/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pydanny/dj-paginator/statuses/{sha}","languages_url":"https://api.github.com/repos/pydanny/dj-paginator/languages","stargazers_url":"https://api.github.com/repos/pydanny/dj-paginator/stargazers","contributors_url":"https://api.github.com/repos/pydanny/dj-paginator/contributors","subscribers_url":"https://api.github.com/repos/pydanny/dj-paginator/subscribers","subscription_url":"https://api.github.com/repos/pydanny/dj-paginator/subscription","commits_url":"https://api.github.com/repos/pydanny/dj-paginator/commits{/sha}","git_commits_url":"https://api.github.com/repos/pydanny/dj-paginator/git/commits{/sha}","comments_url":"https://api.github.com/repos/pydanny/dj-paginator/comments{/number}","issue_comment_url":"https://api.github.com/repos/pydanny/dj-paginator/issues/comments{/number}","contents_url":"https://api.github.com/repos/pydanny/dj-paginator/contents/{+path}","compare_url":"https://api.github.com/repos/pydanny/dj-paginator/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pydanny/dj-paginator/merges","archive_url":"https://api.github.com/repos/pydanny/dj-paginator/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pydanny/dj-paginator/downloads","issues_url":"https://api.github.com/repos/pydanny/dj-paginator/issues{/number}","pulls_url":"https://api.github.com/repos/pydanny/dj-paginator/pulls{/number}","milestones_url":"https://api.github.com/repos/pydanny/dj-paginator/milestones{/number}","notifications_url":"https://api.github.com/repos/pydanny/dj-paginator/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pydanny/dj-paginator/labels{/name}","releases_url":"https://api.github.com/repos/pydanny/dj-paginator/releases{/id}","deployments_url":"https://api.github.com/repos/pydanny/dj-paginator/deployments","created_at":"2015-07-27T03:45:43Z","updated_at":"2023-01-28T14:46:19Z","pushed_at":"2016-11-07T08:42:39Z","git_url":"git://github.com/pydanny/dj-paginator.git","ssh_url":"git@github.com:pydanny/dj-paginator.git","clone_url":"https://github.com/pydanny/dj-paginator.git","svn_url":"https://github.com/pydanny/dj-paginator","homepage":"","size":29,"stargazers_count":36,"watchers_count":36,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":4,"mirror_url":null,"archived":true,"disabled":false,"open_issues_count":5,"license":{"key":"bsd-3-clause","name":"BSD
        3-Clause \"New\" or \"Revised\" License","spdx_id":"BSD-3-Clause","url":"https://api.github.com/licenses/bsd-3-clause","node_id":"MDc6TGljZW5zZTU="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":4,"open_issues":5,"watchers":36,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true},"temp_clone_token":"","network_count":4,"subscribers_count":5}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d75a0af78771bf0fbba63c8d5ccc1686b5917f38921524bd894c9e5b122a48dd"
      Last-Modified:
      - Sat, 28 Jan 2023 14:46:19 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - repo, user, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4995'
      X-RateLimit-Reset:
      - '1705117606'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '5'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/pydanny/dj-paginator/contributors?per_page=100
  response:
    body:
      string: '[{"login":"audreyfeldroy","id":74739,"node_id":"MDQ6VXNlcjc0NzM5","avatar_url":"https://avatars.githubusercontent.com/u/74739?v=4","gravatar_id":"","url":"https://api.github.com/users/audreyfeldroy","html_url":"https://github.com/audreyfeldroy","followers_url":"https://api.github.com/users/audreyfeldroy/followers","following_url":"https://api.github.com/users/audreyfeldroy/following{/other_user}","gists_url":"https://api.github.com/users/audreyfeldroy/gists{/gist_id}","starred_url":"https://api.github.com/users/audreyfeldroy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/audreyfeldroy/subscriptions","organizations_url":"https://api.github.com/users/audreyfeldroy/orgs","repos_url":"https://api.github.com/users/audreyfeldroy/repos","events_url":"https://api.github.com/users/audreyfeldroy/events{/privacy}","received_events_url":"https://api.github.com/users/audreyfeldroy/received_events","type":"User","site_admin":false,"contributions":6},{"login":"pydanny","id":62857,"node_id":"MDQ6VXNlcjYyODU3","avatar_url":"https://avatars.githubusercontent.com/u/62857?v=4","gravatar_id":"","url":"https://api.github.com/users/pydanny","html_url":"https://github.com/pydanny","followers_url":"https://api.github.com/users/pydanny/followers","following_url":"https://api.github.com/users/pydanny/following{/other_user}","gists_url":"https://api.github.com/users/pydanny/gists{/gist_id}","starred_url":"https://api.github.com/users/pydanny/starred{/[...]
[...]
