interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/rate_limit
  response:
    body:
      string: '{"resources":{"core":{"limit":5000,"used":6,"remaining":4994,"reset":1705117606},"search":{"limit":30,"used":0,"remaining":30,"reset":1705114079},"graphql":{"limit":5000,"used":0,"remaining":5000,"reset":1705117619},"integration_manifest":{"limit":5000,"used":0,"remaining":5000,"reset":1705117619},"source_import":{"limit":100,"used":0,"remaining":100,"reset":1705114079},"code_scanning_upload":{"limit":1000,"used":0,"remaining":1000,"reset":1705117619},"actions_runner_registration":{"limit":10000,"used":0,"remaining":10000,"reset":1705117619},"scim":{"limit":15000,"used":0,"remaining":15000,"reset":1705117619},"dependency_snapshots":{"limit":100,"used":0,"remaining":100,"reset":1705114079},"audit_log":{"limit":1750,"used":0,"remaining":1750,"reset":1705117619},"code_search":{"limit":10,"used":0,"remaining":10,"reset":1705114079}},"rate":{"limit":5000,"used":6,"remaining":4994,"reset":1705117606}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - repo, user, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4994'
      X-RateLimit-Reset:
      - '1705117606'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '6'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/djangopackages/does-not-exist
  response:
    body:
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - repo, user, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4993'
      X-RateLimit-Reset:
      - '1705117606'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '7'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 404
      message: Not Found
version: 1
