interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/rate_limit
  response:
    body:
      string: '{"resources":{"core":{"limit":5000,"used":0,"remaining":5000,"reset":1705117606},"search":{"limit":30,"used":0,"remaining":30,"reset":1705114066},"graphql":{"limit":5000,"used":0,"remaining":5000,"reset":1705117606},"integration_manifest":{"limit":5000,"used":0,"remaining":5000,"reset":1705117606},"source_import":{"limit":100,"used":0,"remaining":100,"reset":1705114066},"code_scanning_upload":{"limit":1000,"used":0,"remaining":1000,"reset":1705117606},"actions_runner_registration":{"limit":10000,"used":0,"remaining":10000,"reset":1705117606},"scim":{"limit":15000,"used":0,"remaining":15000,"reset":1705117606},"dependency_snapshots":{"limit":100,"used":0,"remaining":100,"reset":1705114066},"audit_log":{"limit":1750,"used":0,"remaining":1750,"reset":1705117606},"code_search":{"limit":10,"used":0,"remaining":10,"reset":1705114066}},"rate":{"limit":5000,"used":0,"remaining":5000,"reset":1705117606}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - repo, user, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '5000'
      X-RateLimit-Reset:
      - '1705117606'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '0'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/django/deps
  response:
    body:
      string: '{"id":18764735,"node_id":"MDEwOlJlcG9zaXRvcnkxODc2NDczNQ==","name":"deps","full_name":"django/deps","private":false,"owner":{"login":"django","id":27804,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI3ODA0","avatar_url":"https://avatars.githubusercontent.com/u/27804?v=4","gravatar_id":"","url":"https://api.github.com/users/django","html_url":"https://github.com/django","followers_url":"https://api.github.com/users/django/followers","following_url":"https://api.github.com/users/django/following{/other_user}","gists_url":"https://api.github.com/users/django/gists{/gist_id}","starred_url":"https://api.github.com/users/django/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/django/subscriptions","organizations_url":"https://api.github.com/users/django/orgs","repos_url":"https://api.github.com/users/django/repos","events_url":"https://api.github.com/users/django/events{/privacy}","received_events_url":"https://api.github.com/users/django/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/django/deps","description":"Django
        Enhancement Proposals","fork":false,"url":"https://api.github.com/repos/django/deps","forks_url":"https://api.github.com/repos/django/deps/forks","keys_url":"https://api.github.com/repos/django/deps/keys{/key_id}","collaborators_url":"https://api.github.com/repos/django/deps/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/django/deps/teams","hooks_url":"https://api.github.com/repos/django/deps/hooks","issue_events_url":"https://api.github.com/repos/django/deps/issues/events{/number}","events_url":"https://api.github.com/repos/django/deps/events","assignees_url":"https://api.github.com/repos/django/deps/assignees{/user}","branches_url":"https://api.github.com/repos/django/deps/branches{/branch}","tags_url":"https://api.github.com/repos/django/deps/tags","blobs_url":"https://api.github.com/repos/django/deps/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/django/deps/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/django/deps/git/refs{/sha}","trees_url":"https://api.github.com/repos/django/deps/git/trees{/sha}","statuses_url":"https://api.github.com/repos/django/deps/statuses/{sha}","languages_url":"https://api.github.com/repos/django/deps/languages","stargazers_url":"https://api.github.com/repos/django/deps/stargazers","contributors_url":"https://api.github.com/repos/django/deps/contributors","subscribers_url":"https://api.github.com/repos/django/deps/subscribers","subscription_url":"https://api.github.com/repos/django/deps/subscription","commits_url":"https://api.github.com/repos/django/deps/commits{/sha}","git_commits_url":"https://api.github.com/repos/django/deps/git/commits{/sha}","comments_url":"https://api.github.com/repos/django/deps/comments{/number}","issue_comment_url":"https://api.github.com/repos/django/deps/issues/comments{/number}","contents_url":"https://api.github.com/repos/django/deps/contents/{+path}","compare_url":"https://api.github.com/repos/django/deps/compare/{base}...{head}","merges_url":"https://api.github.com/repos/django/deps/merges","archive_url":"https://api.github.com/repos/django/deps/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/django/deps/downloads","issues_url":"https://api.github.com/repos/django/deps/issues{/number}","pulls_url":"https://api.github.com/repos/django/deps/pulls{/number}","milestones_url":"https://api.github.com/repos/django/deps/milestones{/number}","notifications_url":"https://api.github.com/repos/django/deps/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/django/deps/labels{/name}","releases_url":"https://api.github.com/repos/django/deps/releases{/id}","deployments_url":"https://api.github.com/repos/django/deps/deployments","created_at":"2014-04-14T14:59:32Z","updated_at":"2024-01-04T15:56:35Z","pushed_at":"2023-12-19T21:59:33Z","git_url":"git://github.com/django/deps.git","ssh_url":"git@github.com:django/deps.git","clone_url":"https://github.com/django/deps.git","svn_url":"https://github.com/django/deps","homepage":null,"size":379,"stargazers_count":401,"watchers_count":401,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":85,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":7,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":85,"open_issues":7,"watchers":401,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true},"temp_clone_token":"","custom_properties":{},"organization":{"login":"django","id":27804,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI3ODA0","avatar_url":"https://avatars.githubusercontent.com/u/27804?v=4","gravatar_id":"","url":"https://api.github.com/users/django","html_url":"https://github.com/django","followers_url":"https://api.github.com/users/django/followers","following_url":"https://api.github.com/users/django/following{/other_user}","gists_url":"https://api.github.com/users/django/gists{/gist_id}","starred_url":"https://api.github.com/users/django/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/django/subscriptions","organizations_url":"https://api.github.com/users/django/orgs","repos_url":"https://api.github.com/users/django/repos","events_url":"https://api.github.com/users/django/events{/privacy}","received_events_url":"https://api.github.com/users/django/received_events","type":"Organization","site_admin":false},"network_count":85,"subscribers_count":96}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c10ca93c29e2f6118cdc102b5f5b87e371ea02c22bf41ca82bfc0aaf8695fe3e"
      Last-Modified:
      - Thu, 04 Jan 2024 15:56:35 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - repo, user, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1705117606'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/django/deps/commits?per_page=100
  response:
    body:
      string: "[{\"sha\":\"bd84846d4b2cf39df415706bdebf58add25999f6\",\"node_id\":\"C_kwDOAR5Tv9oAKGJkODQ4NDZkNGIyY2YzOWRmNDE1NzA2YmRlYmY1OGFkZDI1OTk5ZjY\",\"commit\":{\"author\":{\"name\":\"Thibaud
        Colas\",\"email\":\"thibaudcolas@gmail.com\",\"date\":\"2023-12-19T21:59:33Z\"},\"committer\":{\"name\":\"GitHub\",\"email\":\"noreply@github.com\",\"date\":\"2023-12-19T21:59:33Z\"},\"message\":\"Add
        missing \u201Cwhich\u201D to DEP template (#83)\",\"tree\":{\"sha\":\"16a725277ff4e70f18fe6d5b14ddacefc3dc5b82\",\"url\":\"https://api.github.com/repos/django/deps/git/trees/16a725277ff4e70f18fe6d5b14ddacefc3dc5b82\"},\"url\":\"https://api.github.com/repos/django/deps/git/commits/bd84846d4b2cf39df415706bdebf58add25999f6\",\"comment_count\":0,\"verification\":{\"verified\":true,\"reason\":\"valid\",\"signature\":\"-----BEGIN
        PGP SIGNATURE-----\\n\\nwsBcBAABCAAQBQJlghJFCRBK7hj4Ov3rIwAAp/sIACvcMnBPlgqg1cBeaofkRZz5\\nP4jhYImyPGYnrjIOJxH3NZnXa9ylAV9xzPIXUWt8Ygyhr+GOnJyDOugcaKdG8JwE\\ndj5DIV6iohpNW1q73YRJxTIyEAvZzx3SiBN3a9HBP+jB7ItBsY+R7SwtkD3aBAwR\\nYI+cqAUgAbpZZlsf3kJAxfIJKg1URnrhIoVHUK+/RwBLJJDgY9F600keV4dVHWKF\\nB3QNLdyjOnqg5Ppg2x+5k87YNqcv7IPx+whuLFFqtKRCz9p7C6+QnzZrkE+zdedg\\n/GmNfRSnn+kPJ8MPYmOiCifmW4otaKycCx1izSlkUHeNk1CTcl0PWxO6pu3Xo4w=\\n=q+0O\\n-----END
        PGP SIGNATURE-----\\n\",\"payload\":\"tree 16a725277ff4e70f18fe6d5b14ddacefc3dc5b82\\nparent
        b6e6448160fccb04cf04c6015ce04e698fb56d63\\nauthor Thibaud Colas <thibaudcolas@gmail.com>
        1703023173 +0000\\ncommitter GitHub <noreply@github.com> 1703023173 +0000\\n\\nAdd
        missing \u201Cwhich\u201D to DEP template (#83)\\n\\n\"}},\"url\":\"https://api.github.com/repos/django/deps/commits/bd84846d4b2cf39df415706bdebf58add25999f6\",\"html_url\":\"https://github.com/django/deps/commit/bd84846d4b2cf39df415706bdebf58add2[...]
[...]
