interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json
      PRIVATE-TOKEN:
      - DUMMY
    method: GET
    uri: https://gitlab.com/api/v4/projects/lansharkconsulting%2Fdjango%2Fdjango-encrypted-model-fields?license=True
  response:
    body:
      string: '{"id":6812925,"description":"A set of fields that wrap standard Django
        fields with encryption provided by the python cryptography library.","name":"django-encrypted-model-fields","name_with_namespace":"lansharkconsulting
        / django / django-encrypted-model-fields","path":"django-encrypted-model-fields","path_with_namespace":"lansharkconsulting/django/django-encrypted-model-fields","created_at":"2018-06-05T14:35:48.836Z","default_branch":"develop","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:lansharkconsulting/django/django-encrypted-model-fields.git","http_url_to_repo":"https://gitlab.com/lansharkconsulting/django/django-encrypted-model-fields.git","web_url":"https://gitlab.com/lansharkconsulting/django/django-encrypted-model-fields","readme_url":"https://gitlab.com/lansharkconsulting/django/django-encrypted-model-fields/-/blob/develop/README.md","forks_count":25,"license_url":"https://gitlab.com/lansharkconsulting/django/django-encrypted-model-fields/-/blob/develop/LICENSE","license":{"key":"mit","name":"MIT
        License","nickname":null,"html_url":"https://opensource.org/licenses/MIT","source_url":null},"avatar_url":null,"star_count":33,"last_activity_at":"2022-08-12T13:20:02.438Z","namespace":{"id":3000830,"name":"django","path":"django","kind":"group","full_path":"lansharkconsulting/django","parent_id":1447078,"avatar_url":"/uploads/-/system/group/avatar/3000830/shark-icon.jpg","web_url":"https://gitlab.com/groups/lansharkconsulting/django"},"container_registry_image_prefix":"registry.gitlab.com/lansharkconsulting/django/django-encrypted-model-fields","_links":{"self":"https://gitlab.com/api/v4/projects/6812925","issues":"https://gitlab.com/api/v4/projects/6812925/issues","merge_requests":"https://gitlab.com/api/v4/projects/6812925/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/6812925/repository/branches","labels":"https://gitlab.com/api/v4/projects/6812925/labels","events":"https://gitlab.com/api/v4/projects/6812925/events","members":"https://gitlab.com/api/v4/projects/6812925/members","cluster_agents":"https://gitlab.com/api/v4/projects/6812925/cluster_agents"},"code_suggestions":true,"packages_enabled":null,"empty_repo":false,"archived":false,"visibility":"public","resolve_outdated_diff_discussions":false,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","model_registry_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"shared_runners_enabled":true,"lfs_enabled":false,"creator_id":719018,"import_status":"finished","open_issues_count":6,"description_html":"\u003cp
        data-sourcepos=\"1:1-1:109\" dir=\"auto\"\u003eA set of fields that wrap standard
        Django fields with encryption provided by the python cryptography library.\u003c/p\u003e","updated_at":"2022-08-12T13:20:02.438Z","ci_config_path":null,"public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":null,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":false,"compliance_frameworks":[],"permissions":{"project_access":null,"group_access":null}}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"c3e472f3a8e54f5bab17379e2696b477"
      gitlab-lb:
      - haproxy-main-07-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      x-gitlab-meta:
      - '{"correlation_id":"1b32b0cff7c55453012c421941a90d43","version":"1"}'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json
      PRIVATE-TOKEN:
      - DUMMY
    method: GET
    uri: https://gitlab.com/api/v4/projects/6812925/repository/commits
  response:
    body:
      string: "[{\"id\":\"3a68fa64428d9e64bc298d9c9c9ce21d54d4263d\",\"short_id\":\"3a68fa64\",\"created_at\":\"2022-07-12T09:28:12.000-04:00\",\"parent_ids\":[\"864198780bca7c98e73a28d26fd57def5de3d463\"],\"title\":\"Finish
        conversion to poetry build\",\"message\":\"Finish conversion to poetry build\\n\",\"author_name\":\"Scott
        Sharkey\",\"author_email\":\"ssharkey@lanshark.com\",\"authored_date\":\"2022-07-12T09:28:12.000-04:00\",\"committer_name\":\"Scott
        Sharkey\",\"committer_email\":\"ssharkey@lanshark.com\",\"committed_date\":\"2022-07-12T09:28:12.000-04:00\",\"trailers\":{},\"extended_trailers\":{},\"web_url\":\"https://gitlab.com/lansharkconsulting/django/django-encrypted-model-fields/-/commit/3a68fa64428d9e64bc298d9c9c9ce21d54d4263d\"},{\"id\":\"864198780bca7c98e73a28d26fd57def5de3d463\",\"short_id\":\"86419878\",\"created_at\":\"2022-02-24T15:17:44.000-05:00\",\"parent_ids\":[\"d68f9e81c1edacc791a62315c05a4c10ca8e6fec\"],\"title\":\"begin
        converting to poetry build\",\"message\":\"begin converting to poetry build\\n\",\"author_name\":\"Scott
        Sharkey\",\"author_email\"[...]
- request:
    body: null
    headers:
      Content-type:
      - application/json
      PRIVATE-TOKEN:
      - DUMMY
    method: GET
    uri: https://gitlab.com/api/v4/projects/6812925/repository/commits?id=6812925&order=default&page=2&per_page=20&trailers=false
  response:
    body:
      string: '[{"id":"3794febc379160d23dca35a5f66b929b56b0f3fd","short_id":"3794febc","created_at":"2018-08-23T09:34:20.000-04:00","parent_ids":["cdffa9d3b4f1e4970a6b5cdce29e87bcf47dd060","92489592d38e6db33d964d2d15e373540c97394e"],"title":"Merge
        branch ''DEKHTIARJonathan/django-encrypted-model-fields-patch-1'' into develop","message":"Merge
        branch ''DEKHTIARJonathan/django-encrypted-model-fields-patch-1'' into develop\n\n*
        DEKHTIARJonathan/django-encrypted-model-fields-patch-1:\n  Deprecation Warning
        Fix: RemovedInDjango30Warning: Remove the context parameter from EncryptedCharField.from_db_value().
        Support for it will be removed in Django 3.0.\n  fix generate_key, drop support
        for older django\n  Fixed the issue with django 2.0 where stdout.write fails
        because of the string being bytes and not a string\n","author_name":"Scott
        Sharkey","author_email":"ssharkey@lanshark.com","authored_date":"2018-08-23T09:34:20.000-04:00","committer_name":"Scott
        Sharkey","c[...]
[...]
