interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/commits/?limit=50
  response:
    body:
      string: "{\"values\": [{\"type\": \"commit\", \"hash\": \"5c1672ba764b65a30e81863ad0a1672b81376bec\",
        \"date\": \"2018-08-22T18:50:22+00:00\", \"author\": {\"type\": \"author\",
        \"raw\": \"Michael Manfre <mmanfre@gmail.com>\", \"user\": {\"display_name\":
        \"Michael Manfre\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/%7B2602453b-e7bc-47e6-b9b8-37f01e14a045%7D\"},
        \"avatar\": {\"href\": \"https://secure.gravatar.com/avatar/c7530c529dc2ddca9b1626d90acf4366?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FMM-0.png\"},
        \"html\": {\"href\": \"https://bitbucket.org/%7B2602453b-e7bc-47e6-b9b8-37f01e14a045%7D/\"}},
        \"type\": \"user\", \"uuid\": \"{2602453b-e7bc-47e6-b9b8-37f01e14a045}\",
        \"account_id\": \"557058:8c889f47-6d93-4a7c-9f8a-d0973798ecca\", \"nickname\":
        \"Manfre\"}}, \"message\": \"Recommend using django-pyodbc-azure\", \"summary\":
        {\"type\": \"rendered\", \"raw\": \"Recommend using django-pyodbc-azure\",
        \"markup\": \"markdown\", \"html\": \"<p>Recommend using django-pyodbc-azure</p>\"},
        \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/commit/5c1672ba764b65a30e81863ad0a1672b81376bec\"},
        \"html\": {\"href\": \"https://bitbucket.org/Manfre/django-mssql/commits/5c1672ba764b65a30e81863ad0a1672b81376bec\"},
        \"diff\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/diff/5c1672ba764b65a30e81863ad0a1672b81376bec\"},
        \"approve\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/commit/5c1672ba764b65a30e81863ad0a1672b81376bec/approve\"},
        \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/commit/5c1672ba764b65a30e81863ad0a1672b81376bec/comments\"},
        \"statuses\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/commit/5c1672ba764b65a30e81863ad0a1672b81376bec/statuses\"},
        \"patch\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/patch/5c1672ba764b65a30e81863ad0a1672b81376bec\"}},
        \"parents\": [{\"hash\": \"539658797852867c386022a80b1ed50ce281a776\", \"links\":
        {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/commit/539658797852867c386022a80b1ed50ce281a776\"},
        \"html\": {\"href\": \"https://bitbucket.org/Manfre/django-mssql/commits/539658797852867c386022a80b1ed50ce281a776\"}},
        \"type\": \"commit\"}], \"rendered\": {\"message\": {\"type\": \"rendered\",
        \"raw\": \"Recommend using django-pyodbc-azure\", \"markup\": \"markdown\",
        \"html\": \"<p>Recommend using django-pyodbc-azure</p>\"}}, \"repository\":
        {\"type\": \"repository\", \"full_name\": \"Manfre/django-mssql\", \"links\":
        {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql\"},
        \"html\": {\"href\": \"https://bitbucket.org/Manfre/django-mssql\"}, \"avatar\":
        {\"href\": \"https://bytebucket.org/ravatar/%7Bfa7b9059-8ffd-401f-934f-afe495719186%7D?ts=python\"}},
        \"name\": \"django-mssql\", \"uuid\": \"{fa7b9059-8ffd-401f-934f-afe495719186}\"}},
        {\"type\": \"commit\", \"hash\": \"539658797852867c386022a80b1ed50ce281a776\",
        \"date\": \"2018-08-22T18:41:05+00:00\", \"author\": {\"type\": \"author\",
        \"raw\": \"Phillip Stromberg <phillip@stromberg.me>\", \"user\": {\"display_name\":
        \"Phillip Stromberg\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/%7B79e90159-067b-4774-8d57-ec0dc59002d8%7D\"},
        \"ava[...]
