interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json
      PRIVATE-TOKEN:
      - DUMMY
    method: GET
    uri: https://gitlab.com/api/v4/projects/jeff.triplett%2Fdjango-metadata?license=True
  response:
    body:
      string: '{"id":46520,"description":"Metadata package for models. \r\n\r\nMy
        forked copy of: https://github.com/rafaelsierra/django-metadata","name":"django-metadata","name_with_namespace":"Jeff
        Triplett / django-metadata","path":"django-metadata","path_with_namespace":"jeff.triplett/django-metadata","created_at":"2014-04-27T20:52:58.000Z","default_branch":"master","tag_list":["django","python"],"topics":["django","python"],"ssh_url_to_repo":"git@gitlab.com:jeff.triplett/django-metadata.git","http_url_to_repo":"https://gitlab.com/jeff.triplett/django-metadata.git","web_url":"https://gitlab.com/jeff.triplett/django-metadata","readme_url":"https://gitlab.com/jeff.triplett/django-metadata/-/blob/master/README.markdown","forks_count":0,"license_url":"https://gitlab.com/jeff.triplett/django-metadata/-/blob/master/LICENSE","license":{"key":"bsd-3-clause","name":"BSD
        3-Clause \"New\" or \"Revised\" License","nickname":null,"html_url":"https://opensource.org/licenses/BSD-3-Clause","source_url":null},"avatar_url":null,"star_count":0,"last_activity_at":"2014-04-27T20:54:43.000Z","namespace":{"id":235,"name":"Jeff
        Triplett","path":"jeff.triplett","kind":"user","full_path":"jeff.triplett","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/1b3be6df639795c46dce9443d93c38bb?s=80\u0026d=identicon","web_url":"https://gitlab.com/jeff.triplett"},"container_registry_image_prefix":"registry.gitlab.com/jeff.triplett/django-metadata","_links":{"self":"https://gitlab.com/api/v4/projects/46520","issues":"https://gitlab.com/api/v4/projects/46520/issues","merge_requests":"https://gitlab.com/api/v4/projects/46520/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/46520/repository/branches","labels":"https://gitlab.com/api/v4/projects/46520/labels","events":"https://gitlab.com/api/v4/projects/46520/events","members":"https://gitlab.com/api/v4/projects/46520/members","cluster_agents":"https://gitlab.com/api/v4/projects/46520/cluster_agents"},"code_suggestions":true,"packages_enabled":null,"empty_repo":false,"archived":true,"visibility":"public","owner":{"id":306,"username":"jeff.triplett","name":"Jeff
        Triplett","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/1b3be6df639795c46dce9443d93c38bb?s=80\u0026d=identicon","web_url":"https://gitlab.com/jeff.triplett"},"resolve_outdated_diff_discussions":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":null,"can_create_merge_request_in":false,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"disabled","pages_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","model_registry_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":306,"import_url":"","import_type":null,"import_status":"none","import_error":null,"open_issues_count":0,"description_html":"\u003cp
        data-sourcepos=\"1:1-1:29\" dir=\"auto\"\u003eMetadata package for models.\u003c/p\u003e\n\u003cp
        data-sourcepos=\"3:1-3:66\" dir=\"auto\"\u003eMy forked copy of: \u003ca href=\"https://github.com/rafaelsierra/django-metadata\"
        rel=\"nofollow noreferrer noopener\" target=\"_blank\"\u003ehttps://github.com/rafaelsierra/django-metadata\u003c/a\u003e\u003c/p\u003e","updated_at":"2022-03-24T00:08:50.115Z","ci_default_git_depth":null,"ci_forward_deployment_enabled":null,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"runners_token":"GR1348941hiWvUVSzkUJ6CormW1ha","runner_token_expiration_interval":null,"group_runners_enabled":true,"auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_config_path":null,"public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"remove_source_branch_after_merge":null,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":{"access_level":50,"notification_level":3},"group_access":null}}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"4442a4aca652b7671631b40c26c651f9"
      gitlab-lb:
      - haproxy-main-05-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      x-gitlab-meta:
      - '{"correlation_id":"8b52d0255d64d9ca7b2bc5e253e59e93","version":"1"}'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json
      PRIVATE-TOKEN:
      - DUMMY
    method: GET
    uri: https://gitlab.com/api/v4/projects/46520/repository/contributors
  response:
    body:
      string: '[{"name":"Israel Fruchter","email":"ifruchter@nds.com","commits":1,"additions":0,"deletions":0},{"name":"fruch","email":"israel.fruchter@gmail.com","commits":1,"additions":0,"deletions":0},{"name":"Jeff
        Triplett","email":"jeff.triplett@gmail.com","commits":3,"additions":0,"deletions":0},{"name":"Rafael
        Sierra","email":"rafaeljsg14@gmail.com","commits":5,"additions":0,"deletions":0},{"name":"Rafael
        Sierra","email":"rafael.sierra@sabbre.com.br","commits":6,"additions":0,"deletions":0}]'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"bcb806486d23642a4f960c0735336815"
      gitlab-lb:
      - haproxy-main-59-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      link:
      - <https://gitlab.com/api/v4/projects/46520/repository/contributors?id=46520&order_by=commits&page=1&per_page=20&sort=asc>;
        rel="first", <https://gitlab.com/api/v4/projects/46520/repository/contributors?id=46520&order_by=commits&page=1&per_page=20&sort=asc>;
        rel="last"
      x-gitlab-meta:
      - '{"correlation_id":"616f97c1390f0b31a544c0cd296d2fe9","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '5'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
