interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/
  response:
    body:
      string: '{"type": "repository", "full_name": "Manfre/django-mssql", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql"},
        "html": {"href": "https://bitbucket.org/Manfre/django-mssql"}, "avatar": {"href":
        "https://bytebucket.org/ravatar/%7Bfa7b9059-8ffd-401f-934f-afe495719186%7D?ts=python"},
        "pullrequests": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/pullrequests"},
        "commits": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/commits"},
        "forks": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/forks"},
        "watchers": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/watchers"},
        "branches": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/refs/branches"},
        "tags": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/refs/tags"},
        "downloads": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/downloads"},
        "source": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/src"},
        "clone": [{"name": "https", "href": "https://bitbucket.org/Manfre/django-mssql.git"},
        {"name": "ssh", "href": "git@bitbucket.org:Manfre/django-mssql.git"}], "issues":
        {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/issues"},
        "hooks": {"href": "https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/hooks"}},
        "name": "django-mssql", "slug": "django-mssql", "description": "Microsoft
        SQL server backend for Django running on windows.\r\n\r\nNo actively maintained
        and only supports up to Django 1.8, which hasn''t received security fixes
        for years.", "scm": "git", "website": "", "owner": {"display_name": "Michael
        Manfre", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B2602453b-e7bc-47e6-b9b8-37f01e14a045%7D"},
        "avatar": {"href": "https://secure.gravatar.com/avatar/c7530c529dc2ddca9b1626d90acf4366?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FMM-0.png"},
        "html": {"href": "https://bitbucket.org/%7B2602453b-e7bc-47e6-b9b8-37f01e14a045%7D/"}},
        "type": "user", "uuid": "{2602453b-e7bc-47e6-b9b8-37f01e14a045}", "account_id":
        "557058:8c889f47-6d93-4a7c-9f8a-d0973798ecca", "nickname": "Manfre"}, "workspace":
        {"type": "workspace", "uuid": "{2602453b-e7bc-47e6-b9b8-37f01e14a045}", "name":
        "Michael Manfre", "slug": "Manfre", "links": {"avatar": {"href": "https://bitbucket.org/workspaces/Manfre/avatar/?ts=1543457303"},
        "html": {"href": "https://bitbucket.org/Manfre/"}, "self": {"href": "https://api.bitbucket.org/2.0/workspaces/Manfre"}}},
        "is_private": false, "project": {"type": "project", "key": "PROJ", "uuid":
        "{b3e94f16-c84f-417c-8ef6-2e7887634dc0}", "name": "Untitled project", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/Manfre/projects/PROJ"},
        "html": {"href": "https://bitbucket.org/Manfre/workspace/projects/PROJ"},
        "avatar": {"href": "https://bitbucket.org/account/user/Manfre/projects/PROJ/avatar/32?ts=1543457303"}}},
        "fork_policy": "allow_forks", "created_on": "2014-11-15T01:29:30.302881+00:00",
        "updated_on": "2023-03-28T23:23:14.419025+00:00", "size": 4004226, "language":
        "python", "uuid": "{fa7b9059-8ffd-401f-934f-afe495719186}", "mainbranch":
        {"name": "master", "type": "branch"}, "override_settings": {"default_merge_strategy":
        false, "branching_model": false}, "parent": null, "has_issues": true, "has_wiki":
        false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 9f324412cc0f64c9
      etag:
      - '"3243214196e063a7ed385e8888de2c91"'
      x-accepted-oauth-scopes:
      - repository
      x-dc-location:
      - Micros-3
      x-render-time:
      - '0.06330037117004395'
      x-request-count:
      - '161'
      x-static-version:
      - 04b49d4d4db1
      x-usage-input-ops:
      - '0'
      x-usage-output-ops:
      - '0'
      x-usage-system-time:
      - '0.003391'
      x-usage-user-time:
      - '0.036503'
      x-used-mesh:
      - 'False'
      x-version:
      - 04b49d4d4db1
      x-view-name:
      - bitbucket.apps.repo2.api.v20.repo.RepositoryHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/forks/
  response:
    body:
      string: '{"values": [{"type": "repository", "full_name": "yosp/django-mssql",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/yosp/django-mssql"},
        "html": {"href": "https://bitbucket.org/yosp/django-mssql"}, "avatar": {"href":
        "https://bytebucket.org/ravatar/%7B1030ae61-a86c-4b53-ad74-15f546823c91%7D?ts=python"},
        "pullrequests": {"href": "https://api.bitbucket.org/2.0/repositories/yosp/django-mssql/pullrequests"},
        "commits": {"href": "https://api.bitbu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/Manfre/django-mssql/watchers/
  response:
    body:
      string: "{\"values\": [{\"display_name\": \"Michael Manfre\", \"links\": {\"self\":
        {\"href\": \"https://api.bitbucket.org/2.0/users/%7B2602453b-e7bc-47e6-b9b8-37f01e14a045%7D\"},
        \"avatar\": {\"href\": \"https://secure.gravatar.com/avatar/c7530c529dc2ddca9b1626d90acf4366?d=https%3A%2F%2Favatar-management--avatars.us-[...]
