# dockerfiles
# static
*.conf
*.db
*.example
*.md
*.old
*.pid
*.rdb
*.zip
.*
.docker
.editorconfig
.git
.gitignore
.pytest_cache
.rsync-exclude-from
compose*.yml
CONTRIBUTORS.txt
data
design
docker-compose*.yml
docs
htmlcov
LICENSE.txt
node_modules
script
