*.py[co]

# Packages
*.egg
*.egg-info
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Django
dev.db*
*.log
local_settings.py


# Local file cruft/auto-backups
.DS_Store
*~

# Coverage
coverage
htmlcov

# Sphinx
docs/_build
docs/_static

# Launchpad
lp-cache
_data

# PostgreSQL
logfile
*.dump

collected_static
.env
.env.local
key.pem
cert
dhparam.pem
key
root-cert

*.sql
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
