default_language_version:
  python: python3.8

exclude: '^static/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      # - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/rtts/djhtml
    rev: 'v2.0.0'  # replace with the latest tag on GitHub
    hooks:
      - id: djhtml
        entry: djhtml --tabwidth 4
        alias: autoformat
      # - id: djcss
      # - id: djjs
  # - repo: https://github.com/browniebroke/django-codemod
  #   rev: v1.10.9
  #   hooks:
  #     - id: djcodemod
  #       stages: [manual]
  #       args: [
  #         'run',
  #         '--deprecated-in', '1.9',
  #         '--deprecated-in', '1.10',
  #         '--deprecated-in', '1.11',
  #         '--deprecated-in', '2.0',
  #         '--deprecated-in', '2.1',
  #         '--deprecated-in', '2.2',
  #         '--removed-in', '3.0',
  #         '--deprecated-in', '3.0',
  #         '--deprecated-in', '3.1',
  #         '--removed-in', '4.0',
  #         '--deprecated-in', '4.1',
  #       ]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.12.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.1"]
        alias: autoformat
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
        alias: autoformat
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        alias: autoformat
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.245'
    hooks:
      - id: ruff
        alias: autoformat
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
