default_language_version:
  python: python3.12

exclude: |
    (?x)^(
        .devcontainer/devcontainer.json|
        .github/contributors.json|
        .vscode/launch.json|
        CONTRIBUTORS.md|
        static/.*
    )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/rtts/djhtml
    rev: '3.0.10'
    hooks:
      - id: djhtml
        entry: djhtml --tabwidth 4
        alias: autoformat
      - id: djcss
        alias: autoformat
      - id: djjs
        alias: autoformat
  - repo: https://github.com/adamchainz/djade-pre-commit
    rev: 1.7.0
    hooks:
      - id: djade
        args: [--target-version, "5.1"]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.0"]
        alias: autoformat
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.15.0'
    hooks:
      - id: ruff
        args: [--fix]
        alias: autoformat
      - id: ruff-format
        alias: autoformat
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py312-plus]
  - repo: local
    hooks:
      - id: rustywind
        additional_dependencies:
          - rustywind@latest
        args: [--write]
        entry: npx rustywind
        files: ^templates/.*\.html$
        language: node
        name: rustywind
        pass_filenames: true
