services:
  django:
    platform: linux/amd64

  django-q:
    platform: linux/amd64

  docs:
    platform: linux/amd64

  postgres:
    platform: linux/amd64

  redis:
    platform: linux/amd64

  utility:
    platform: linux/amd64
