bs4
cloudflare
crispy-bootstrap3
croniter
django-anymail
django-better-admin-arrayfield
django-click
django-crispy-forms<3
django-debug-toolbar
django-environ
django-extensions
django-htmx
django-jsonview
django-maintenance-mode
django-q2
django-reversion
django-secure
django-structlog
django-tables2
django-tailwind-cli
django-waffle
Django>5.0
djangorestframework<3.16
emoji
emojificate
feedparser
django-template-partials
# github3.py
github3.py<4.1
heroicons[django]
jinja2
looseversion
markdown-it-py[linkify]
markdownify
numpy
openai
packaging
psutil
psycopg[binary, pool]
pydantic
PyGithub
pypistats
python-dateutil
python-gitlab
pytz
requests
requests-mock
rich
sentry-sdk
social-auth-app-django==5.4.3
social-auth-core
sqlite-utils
structlog
trove-classifiers
Unidecode
uwsgi
whitenoise

# Redis support
redis

# docs
-r docs/requirements.in

# testing
dirty-equals
django-test-plus
Faker
model-bakery
pytest
pytest-cov
pytest-django
pytest-mock
time-machine

# utils
bumpver

# pre-commit - please note all linters and autoformatters are in our
# .pre-commit-config.yaml file
pre-commit
