certifi==2017.1.23
chardet==2.3.0
coverage==4.3.4 # pyup: <4
Django==1.11 # pyup: >=1.8,<1.9
django-braces==1.11.0
django-coverage==1.2.4
django-crispy-forms==1.6.1
django-debug-toolbar==1.7
django-environ==0.4.1
django-extensions==1.7.8
django-floppyforms==1.7.0
django-jsonview>=0.4.2
linaro-django-pagination==2.1
django-reversion==2.0.8 # pyup: <1.8.6
django-secure==1.0.1
webstack-django-sorting==1.0.1
django-storages==1.5.2
djangorestframework==3.6.2
eventlet==0.21.0
feedparser==5.2.1
github3.py==0.9.6
greenlet==0.4.12
uwsgi==2.0.15
httplib2==0.10.3
logutils==0.3.4.1
mimeparse==0.1.4
oauth2==1.9.0.post1
psycopg2==2.7.1
python-dateutil==2.6.0
python-social-auth==0.3.6 # pyup: <0.2.4
requests==2.13.0
shortuuid==0.5.0
six==1.10.0
whitenoise==3.3.0

# Redis support
django-redis==4.7.0
redis>=2.10.0
opbeat==3.5.2
newrelic==2.82.0.62
raven==6.0.0
django-anymail==0.9
