bs4
Django<4.1
# see requirements-to-watch.txt
dj-pagination
django-anymail
django-click
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-jsonview
django-reversion
django-secure
django-structlog
django-waffle
djangorestframework<3.13
feedparser
# github3.py
github3.py<1.1
packaging
psycopg2-binary
python-dateutil
python-gitlab
pytz
requests
requests-mock
rich
sentry-sdk
social-auth-app-django
social-auth-core
structlog
trove-classifiers
uwsgi
webstack-django-sorting
whitenoise
PyGithub
jinja2

# Celery
celery

# Redis support
django-redis
redis

# testing
django-test-plus
Faker
model-bakery
pytest
pytest-cov
pytest-django
pytest-mock
time-machine

# utils
bumpver
six
