bs4
cloudflare
Django<5.0
# see requirements-to-watch.txt
django-anymail
django-better-admin-arrayfield
django-click
django-crispy-forms<2
django-debug-toolbar
django-environ
django-extensions
django-htmx
django-jsonview
django-maintenance-mode
django-reversion
django-secure
django-structlog
django-tables2
django-waffle
djangorestframework<3.15
emoji
emojificate
feedparser
# github3.py
github3.py<1.1
jinja2
numpy
openai
packaging
psycopg2-binary
PyGithub
python-dateutil
python-gitlab
pytz
requests
requests-mock
rich
sentry-sdk
social-auth-app-django
social-auth-core
structlog
trove-classifiers
Unidecode
uwsgi
whitenoise
django-q2
psutil

# Celery
celery

# Redis support
redis

# docs
-r docs/requirements.in

# testing
dirty-equals
django-test-plus
Faker
model-bakery
pytest
pytest-cov
pytest-django
pytest-mock
pytest-vcr
time-machine

# utils
bumpver

# pre-commit - please note all linters and autoformatters are in our
# .pre-commit-config.yaml file
pre-commit
