Django==1.4.5
South==0.7.6
boto==2.1.0
certifi==0.0.8
chardet==1.0.1
coverage==3.4
distribute==0.6.35
dj-database-url==0.2.1
django-braces==1.3.1
django-coverage==1.2.1
django-crispy-forms==1.4.0
django-debug-toolbar==0.9.4
django-extensions==0.4.1
django-floppyforms==1.0
django-heroku-memcacheify==0.4
django-heroku-postgresify==0.2
django-pagination==1.0.7
django-pylibmc-sasl==0.2.4
django-reversion==1.7
django-secure==0.1.2
django-sslify==0.2
django-social-auth==0.7.18
django-sorting==0.1
django-storages==1.1.3
django-tastypie==0.9.7
djangorestframework==2.3.8
eventlet==0.9.16
feedparser==5.0.1
github3.py==0.7.0
greenlet==0.3.4
gunicorn==0.14.2
httplib2==0.7.7
logutils==0.3.3
mimeparse==0.1.3
newrelic
oauth2==1.5.211
psycopg2==2.4.1
pylibmc==1.2.3
python-dateutil==2.1
raven==1.4.6
rq==0.3.8
requests==1.2.3
six==1.1.0
appenlight-client==0.6.5
