@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

@variant htmx-settling (&.htmx-settling, .htmx-settling &);
@variant htmx-request (&.htmx-request, .htmx-request &);
@variant htmx-swapping (&.htmx-swapping, .htmx-swapping &);
@variant htmx-added (&.htmx-added, .htmx-added &);
