{% extends "site_base.html" %} 
{# unstyled #}

{% block head_title %}Change your password{% endblock %} 
{% block extra_body %} 
<script type="text/javascript">
    $().ready(function() { 
            $("input#id_email").focus();
            });

</script> 
{% endblock %}

{% block body %}
    <h1>Change your password</h1>
    
    <form method="POST" action="" class="UniForm">{% csrf_token %}
        {% csrf_token %}
        {{ form|as_uni_form }}
        <button type="submit">Change Password</button>
    </form> 
{% endblock body %}
