{% if messages %}
    <div id="toast-container">
        {% for message in messages %}
            <div class="border-opacity-20 {% if 'success' in message.tags %}border-green-500{% endif %} 'warning' %}border-yellow-500{% 'error' %}border-red-500{% 'info' %}border-blue-500{% 'debug' %}border-gray-500{% pointer-events-auto flex items-start overflow-hidden rounded-lg border bg-white p-4 shadow-lg" role="alert">

                <div class="flex-shrink-0">
                    {% if 'success' in message.tags %}
                        <i class="ph-bold ph-check-circle text-xl text-green-500"></i>
                    {% elif 'warning' in message.tags %}
                        <i class="ph-bold ph-warning text-xl text-yellow-500"></i>
                    {% elif 'error' in message.tags %}
                        <i class="ph-bold ph-x-circle text-xl text-red-500"></i>
                    {% else %}
                        <i class="ph-bold ph-info text-xl text-blue-500"></i>
                    {% endif %}
                </div>

                <div class="ml-3 min-w-0 flex-1">
                    <p class="text-sm font-medium break-words text-gray-900">
                        {{ message }}
                    </p>
                </div>

                <button type="button" class="ml-3 inline-flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md text-gray-400 hover:text-gray-500 focus:outline-none" onclick="this.closest('[role=\'alert\']').remove()">
                    <span class="sr-only">Close</span>
                    <i class="ph-bold ph-x"></i>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}
