{% if packages %}
    <div class="card relative mb-8">
        <div id="{{ target_id }}-spinner" class="htmx-indicator bg-background/50 pointer-events-none absolute inset-0 z-10 flex items-center justify-center rounded-xl backdrop-blur-[1px]">
            <i class="ph-bold ph-circle-notch text-primary animate-spin text-4xl"></i>
        </div>
        <div class="card-header">
            <h3 class="flex items-center gap-2 text-xl font-semibold">
                <i class="ph-bold {{ card_icon }} text-xl"></i>
                {{ card_title }}
            </h3>
        </div>
        <div class="card-content">
            <div id="{{ target_id }}">
                {% include "partials/profile_packages_table.html" %}
            </div>
        </div>
    </div>
{% endif %}
