<div class="pt-8 mt-12 text-center border-t text-muted-foreground">
    <h2 class="mb-4 text-xl font-semibold text-foreground">Thanks</h2>
    <p>
        This is derivative work from <a href="https://pyreadiness.org" class="hover:underline text-primary">pyreadiness.org</a> and py3readiness.org, a site that previously tracked general compatibility with Python 3, which in turn was a derivative of pythonwheels.com, a site that tracks which Python distributions ship the wheel distribution.
    </p>
</div>
