{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Contibuting to this site{% endblock %}

{% block body %}

<h1>How can you contribute?</h1>

As open source projects, {{ SITE_TITLE }} and <a href="http://opencomparison.org">Open Comparison</a> 
provides several ways to further the progress of this site:

<h2>Contributing code</h2>

<p>This project has had over <a href="http://opencomparison.readthedocs.org/en/latest/contributors.html">30 contributors</a> whose work has seen this project move forward in leaps and bounds. If you want help out, please read the <a href="http://opencomparison.readthedocs.org/en/latest/contributing.html">contributing instructions</a>. You
should also read the <a href="http://opencomparison.readthedocs.org/en/latest/faq.html#installation">Installation Section of the Open Comparison FAQ</a>.
</p>

<h2>Contributing financially</h2>

<p>As much as the leaders of Open Comparison love to work on this project, as hourly consultants financial considerations often get in the way. We are considering a PayPal buttons</p>

<h3>Direct Open Comparison Consulting</h3>

<p>The project leaders are open to the idea of doing consulting work to enhance and modify the site and the . All produced code (except passwords, API keys, and other security issues) must remain BSD license compliant. If you are interested, please  contact <a href="mailto:pydanny@cartwheelweb.com">pydanny</a> or <a href="mailto:audreyr@cartwheelweb.com">audreyr</a>.</p>

{% endblock %}