{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Contributing to this site{% endblock %}

{% block body %}

<h2>Contributing to this site</h2>

<p>

This is an entirely volunteer driven effort. That includes coding time and hosting costs. If you wish to become a sponsor of this project, please feel free to contact me at <a href="mailto:pydanny@gmail.com">pydanny@gmail.com</a>.

</p>


<h3>Contributing code</h3>

<p>This project has had over <a href="http://opencomparison.readthedocs.org/en/latest/contributors.html">30 contributors</a> whose work has seen this project move forward in leaps and bounds. If you want help out, please read the <a href="http://opencomparison.readthedocs.org/en/latest/contributing.html">contributing instructions</a>. You
should also read the <a href="http://opencomparison.readthedocs.org/en/latest/faq.html#installation">Installation Section of the Open Comparison FAQ</a>.
</p>

{% endblock body %}