{% extends "base.html" %}
{% load i18n page_metadata_tags %}

{% block metadata %}
    {% translate "Frequently Asked Questions" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock metadata %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Frequently Asked Questions</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <h2>Who maintains this project?</h2>

                <p>Django Packages is maintained by
                    <a href="https://twitter.com/webology">Jeff Triplett</a>
                    and
                    <a href="https://github.com/djangopackages/djangopackages/graphs/contributors">contributors</a>
                    just like you.
                    Development is sponsored by <a href="https://www.revsys.com/">REVSYS</a>.
                </p>

                <p>From 2010 to 2021, the majority of hosting and development was provided by
                    <a href="https://www.roygreenfeld.com/collections/two-scoops-press">Two Scoops Press</a>, an imprint of
                    <a href="https://www.roygreenfeld.com/">Roy Greenfeld</a>.
                </p>

                <h2>What role does the DSF have in this project?</h2>

                <p>
                    Projects listed on Django Packages are third-party packages.
                    They are not vetted nor endorsed by the <a href="https://www.djangoproject.com/foundation/">Django Software Foundation</a>.
                    Use them at your own risk.
                </p>

                <h2>What are grids?</h2>

                <p><a href="/grids/">Grids</a> let you compare {{ FRAMEWORK_TITLE }} packages to each other.
                    A grid comes with a number of default items compared, but you can add more features in order to get
                    a more specific comparison.
                </p>

                <p>For now, we are trying out {{ SITE_TITLE }} without the traditional tagging system, because we think
                    that grids give us a lot more specificity.
                </p>

                <h2>What are categories?</h2>

                <p>Categories are broad groups of {{ FRAMEWORK_TITLE }} packages into something more granular than Grids.
                    A package can only have one category.
                    Changing then requires backend work, and is not done lightly.
                    This is intentional, done in order to make searching easier.
                </p>

                <h2>Which source control sites do you support?</h2>

                <p>GitHub, Bitbucket, and GitLab are supported.</p>

                <h2>What about RSS &amp; Atom Syndication?</h2>

                <p>The <a href="{% url 'syndication' %}">Syndication page</a> has more details.</p>

                <h2>How can I contribute?</h2>

                <p>
                    This is an open source project, and we appreciate
                    <a href="https://docs.djangopackages.org/en/latest/contributing">all sorts of contributions</a>.
                </p>

                <h2>Where is Django Package hosted?</h2>

                <p>
                    Django Package is hosted on DigitalOcean.
                    If you would like to support us,
                    <a href="https://www.digitalocean.com/?refcode=d66a400de67f&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">please use our referral link and receive a free $200 credit to get you started.</a>
                </p>
            </div>
        </div>
    </div>
{% endblock body %}
