{% extends "base.html" %}

{% load i18n %}
{% load page_metadata_tags %}

{% block metadata %}
    {% trans "Funding" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <h2>Funding</h2>

                <h3>Funding 2010 to mid-2021</h3>
                <p>From 2010 to mid-2021 Django Packages was developed and funded by <a href="http://daniel.feldroy.com">Daniel Roy Greenfeld</a>
                    &amp; <a href="https://audrey.feldroy.com/">Audrey Roy Greenfeld</a>.
                    To support their work, please check out <a href="https://www.feldroy.com/collections/two-scoops-press">Two Scoops Press</a>,
                    an imprint of <a href="https://www.feldroy.com/">Feldroy</a>.<br/>
                </p>

                <h3>Funding mid-2021 to {% now "Y" %}</h3>
                <p>
                    Server costs are paid out of pocket by <a href="https://twitter.com/webology">Jeff Triplett</a>.
                </p>
                <p>
                    September and October development was sponsored by <a href="https://www.revsys.com/">REVSYS</a>.
                </p>

                <h3>Advertising</h3>
                <p>In August 2021, we added ads by <a href="https://www.ethicalads.io/">Ethical Ads</a> to offset server and development costs as an experiment.</p>

                {% comment %}
                <h3>Want to sponsor?</h3>
                {% endcomment %}

            </div>
        </div>
    </div>
{% endblock %}
