{% extends "base.html" %}

{% load i18n page_metadata_tags %}

{% block metadata %}
    {% translate "Funding" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock metadata %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <h2>Funding</h2>

                <h3>Funding mid-2021 to {% now "Y" %}</h3>
                <p>
                    Server costs are paid out of pocket by <a href="https://twitter.com/webology">Jeff Triplett</a>, but we have a few ways for you to help us pay our bills:
                </p>
                <p>
                    <ul>
                        <li>📚 Buy <a href="https://wsvincent.gumroad.com/l/aFiMm?affiliate_id=1013195891">Django for Beginners (affiliate link)</a>. We make a modest commision off of every sale.</li>
                        <li>💌 Subscribe to the <a href="https://django-news.com">Django News Newsletter</a></li>
                        <li>💼 Check out <a href="https://jobs.django-news.com">Django News Jobs</a></li>
                        <li>🚀 Hosted on DigitalOcean. <a href="https://www.digitalocean.com/?refcode=d66a400de67f&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">Please use our free $200 credit referral link to get you started.</a></li>
                        <li>👀 We have a small number of <a href="https://www.ethicalads.io/">Ethical Ads</a>. If you use an Ad Blocker, please consider allowing ads for our website.</li>
                    </ul>

                    <h3>Advertising</h3>
                    <p>In August 2022, we added ads by <a href="https://www.ethicalads.io/">Ethical Ads</a> to offset server and development costs as an experiment.</p>

                    <h3>September and October 2021</h3>
                    <p>
                        September and October development was sponsored by <a href="https://www.revsys.com/">REVSYS</a>.
                    </p>

                    <h3>Funding 2010 to mid-2021</h3>
                    <p>From 2010 to mid-2021 Django Packages was developed and funded by <a href="http://daniel.feldroy.com">Daniel Roy Greenfeld</a>
                        &amp; <a href="https://audrey.feldroy.com/">Audrey Roy Greenfeld</a>.
                        To support their work, please check out <a href="https://www.feldroy.com/collections/two-scoops-press">Two Scoops Press</a>,
                        an imprint of <a href="https://www.feldroy.com/">Feldroy</a>.<br/>
                    </p>


                {% comment %}
                <h3>Want to sponsor?</h3>
                {% endcomment %}

                </div>
            </div>
        </div>
{% endblock body %}
