{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Help" %}{% endblock %}

{% block body %}

<h2><a href="{% url 'help' %}">Help</a></h2>

<h3>How do I add a package?</h3>

<p>Go to the <a href="{% url 'home' %}">home page</a> and click on the bright green button that says <strong>Add Package</strong>. Then paste in the URL of your repo.
Django Packages then tries to determine your package's repo name and PyPI information from the URL. Click submit and it will process your request.

</p>

<h3>How do I add a grid?</h3>

<p>Go to the <a href="{% url 'home' %}">home page</a> and click on the bright green button that says <strong>Add Grid</strong>. Add the mandatory
    <strong>title</strong> and <strong>slug</strong>, and an optional <strong>description</strong>.

</p>

 <h3>Need more help?</h3>

<ul>
    <li>Submit an <a href="http://github.com/djangopackages/djangopackages/issues">issue</a>.</li>
</ul>

<h3>We'll be adding more to this section soon!</h3>
{# TODO - flesh out this page #}
{% endblock %}
