{% extends "base.html" %}

{% load i18n profile_tags %}
{% load page_metadata_tags %}

{% block metadata %}
    {% trans "Login" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/account.css" />
{% endblock %}

{% block body_class %}account{% endblock %}

{% block body %}
    <p>
        <a href="{% url 'social:begin' 'github' %}">
            <img class="social-button" src="{{ STATIC_URL }}img/github-48x48.png"/>
        </a>
        <a class="social-sign-in" href="{% url 'socialauth_begin' 'github' %}">Sign Up / Login with GitHub</a>
    </p>

    <h2>Why GitHub for OAUTH?</h2>

    <p>GitHub is the place for developers these days. Using them takes a lot of weight off the {{ SITE_TITLE }} team. We're also interested in supporting other OAUTH/OpenID providers such as PyPI.</p>

    <p>
        {% blocktrans %}If you have any problems, please <a href="https://github.com/djangopackages/djangopackages/issues">submit an issue</a>.{% endblocktrans %}
    </p>
{% endblock %}
