{% extends "base.html" %}

{% load humanize %}
{% load i18n %}

{% block head_title %}{% trans "Frequently Asked Questions" %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <h1>{% trans "📊 Open" %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h2>{% trans "Tracking" %}</h2>
                <p>{{ total_users|intcomma }} {% trans "Users" %}</p>
                <p>{{ total_grids|intcomma }} {% trans "Grids" %}</p>
                <p>{{ total_categories|intcomma }} {% trans "Categories" %}</p>
                <p>{{ total_commits|intcomma }} {% trans "Commits" %}</p>
                <p>{{ total_versions|intcomma }} {% trans "Versions" %}</p>
                <h2>{% trans "Repos" %}</h2>
                <p>{{ repos_bitbucket|intcomma }} {% trans "Bitbucket Repos" %}</p>
                <p>{{ repos_github|intcomma }} {% trans "GitHub Repos" %}</p>
                <p>{{ repos_gitlab|intcomma }} {% trans "GitLab Repos" %}</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h2>{% trans "Packages" %}</h2>
                <p>{{ total_packages|intcomma }} {% trans "Packages" %}</p>
                {% for key, value in categories.items %}
                    <p>{{ value|intcomma }} {{ key }} {% trans "Packages" %}</p>
                {% endfor %}
                <p>{{ archive_packages|intcomma }} {% trans "Archived Packages" %}</p>
                <p>{{ deprecated_packages|intcomma }} {% trans "Deprecated Packages" %}</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h2>{% trans "Django Versions" %}</h2>
                {% if total_django_4_2 %}
                    <p>{% trans "Django 4.2 Packages:" %} {{ total_django_4_2|intcomma }}</p>
                {% endif %}
                {% if total_django_4_1 %}
                    <p>{% trans "Django 4.1 Packages:" %} {{ total_django_4_1|intcomma }}</p>
                {% endif %}
                <p>{% trans "Django 4.0 Packages:" %} {{ total_django_4_0|intcomma }}</p>
                <p>{% trans "Django 3.2 Packages:" %} {{ total_django_3_2|intcomma }}</p>
                <p>{% trans "Django 3.1 Packages:" %} {{ total_django_3_1|intcomma }}</p>
                <p>{% trans "Django 3.0 Packages:" %} {{ total_django_3_0|intcomma }}</p>
                <p>{% trans "Django 2.2 Packages:" %} {{ total_django_2_2|intcomma }}</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h2>{% trans "Python Versions" %}</h2>
                <p>{% trans "Python 3 Packages:" %} {{ total_python_3|intcomma }}</p>
                <p>{% trans "Python 3.11 Packages:" %} {{ total_python_3_11|intcomma }}</p>
                <p>{% trans "Python 3.10 Packages:" %} {{ total_python_3_10|intcomma }}</p>
                <p>{% trans "Python 3.9 Packages:" %} {{ total_python_3_9|intcomma }}</p>
                <p>{% trans "Python 3.8 Packages:" %} {{ total_python_3_8|intcomma }}</p>
                <p>{% trans "Python 3.7 Packages:" %} {{ total_python_3_7|intcomma }}</p>
                <p>{% trans "Python 3.6 Packages:" %} {{ total_python_3_6|intcomma }}</p>
                <p>{% trans "Python 2.7 Packages:" %} {{ total_python_2_7|intcomma }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <h2>{% trans "Users who have contributed over ten packages" %}</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans "User" %}</th>
                            <th>{% trans "Packages" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for top_user in top_user_list %}
                            <tr>
                                <td>{% ifchanged top_user.num_packages %}{{ forloop.counter }}{% endifchanged %}</td>
                                <td><a href="{% url 'profile_detail' github_account=top_user.username %}">{{ top_user }}</a></td>
                                <td>{{ top_user.num_packages }} {% trans "packages" %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 col-md-5">
                <h2>{% trans "Grids with more than fifteen packages" %}</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans "Grid" %}</th>
                            <th>{% trans "Packages" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grid in top_grid_list %}
                            <tr>
                                <td>{% ifchanged grid.num_packages %}{{ forloop.counter }}{% endifchanged %}</td>
                                <td><a href="{{ grid.get_absolute_url }}">{{ grid }}</a></td>
                                <td>{{ grid.num_packages }} {% trans "packages" %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
