{% extends "base.html" %}

{% load i18n page_metadata_tags %}

{% block metadata %}
    {% translate "Tools and Services" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock metadata %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Tools and Services</h1><hr>
            <h2>First-party Services</h2><hr>
            <p class="padding-bottom-xl">This table contains the list of first-party services djangopackages.org relies on.</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Service Name</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Django</td>
                        <td>Web Server</td>
                    </tr>
                    <tr>
                        <td>Django-Q</td>
                        <td>Worker Service</td>
                    </tr>
                    <tr>
                        <td>Redis</td>
                        <td>Caching</td>
                    </tr>
                    <tr>
                        <td>Caddy</td>
                        <td>Reverse Proxy</td>
                    </tr>
                </tbody>
            </table><hr>
            <h2>Third-party Services</h2><hr>
            <p class="padding-bottom-xl">This table contains the list of third-party services djangopackages.org relies on.</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Service Name</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DigitalOcean Droplet</td>
                        <td>Cloud Hosting</td>
                    </tr>
                    <tr>
                        <td>DigitalOcean PostgreSQL</td>
                        <td>Managed Database</td>
                    </tr>
                    <tr>
                        <td>Cloudflare</td>
                        <td>CDN</td>
                    </tr>
                    <tr>
                        <td>Sentry</td>
                        <td>Application monitoring</td>
                    </tr>
                    <tr>
                        <td>GitHub</td>
                        <td>Source Code Hosting</td>
                    </tr>
                    <tr>
                        <td>GitHub Actions</td>
                        <td>Continuous Integration</td>
                    </tr>
                    <tr>
                        <td>GitHub Issues</td>
                        <td>Issue Tracker</td>
                    </tr>
                    <tr>
                        <td>Mailgun</td>
                        <td>Email Service</td>
                    </tr>
                    <tr>
                        <td>Read the Docs</td>
                        <td>Documentation Hosting</td>
                    </tr>
                    <tr>
                        <td>Pre-Commit CI</td>
                        <td>Continuous Integration</td>
                    </tr>
                    <tr>
                        <td>EthicalAds</td>
                        <td>Ad Network</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}
