{% extends "base.html" %}

{% load i18n page_metadata_tags %}

{% block metadata %}
    {% translate "Syndication (RSS & Atom)" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock metadata %}

{% block body %}

    <h2>Syndication (RSS &amp; Atom)</h2>

    {{ SITE_TITLE }} provides the following feeds for finding out the latest news about the site:

    <ul>
        <li><a href="/feeds/packages/latest/rss/">Latest 15 packages (RSS 2.0)</a></li>
        <li><a href="/feeds/packages/latest/atom/">Latest 15 packages (Atom)</a></li>
    </ul>

{% endblock body %}
