{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}

    <h2>Terms of Service</h2>

    <h3>Account Terms</h3>
 
    <ol> 
        <li> 
        <p>You must be 13 years or older to use this Service.</p> 
        </li> 
 
        <li> 
        <p>You must be a human. Accounts registered by &#8220;bots&#8221; or other automated methods are not permitted.</p> 
        </li> 
 
        <li> 
        <p>You are responsible for maintaining the security of your account and password. {{ SITE_TITLE }} cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</p> 
        </li> 
 
        <li> 
        <p>You are responsible for all Content posted and activity that occurs under your account.</p> 
        </li> 
 
        <li> 
        <p>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).</p> 
        </li> 
        
        <li> 
        <p>Using this service to post content that does not belong in the {{ FRAMEWORK_TITLE }} community will cause your account to be revoked and the Content removed.</p> 
        </li>        
    </ol>
    
{% endblock %}