{
	admin off
	# debug
	email {$TLS_EMAIL}
}

www.djangopackages.org {
	redir https://djangopackages.org{uri}
}

blue.djangopackages.org, a.djangopackages.org, c.djangopackages.org {
	reverse_proxy django-a:8000
}

green.djangopackages.org, b.djangopackages.org, d.djangopackages.org {
	reverse_proxy django-b:8000
}

djangopackages.org, web2.djangopackages.org {
	encode zstd gzip

	header Strict-Transport-Security max-age=31536000;

	# Removing some headers for improved security:
	header -Server

	# https://caddyserver.com/docs/caddyfile/directives/respond
	# Replace backends health checks and provide one for this LB
	respond /health 200

	reverse_proxy django-a:8000 django-b:8000 {
		health_uri /health_check/
		health_interval 1s
		health_timeout 5s
		fail_duration 5s
		lb_policy round_robin
		header_up Host {host}
		header_up X-Real-IP {remote}
		# header_up X-Forwarded-Proto {scheme}
	}
	log {
		format json
		output stdout
		# errors stdout
	}
}

djangopackages.org/media,
web2.djangopackages.org/media,
blue.djangopackages.org/media,
green.djangopackages.org/media,
a.djangopackages.org/media,
b.djangopackages.org/media,
c.djangopackages.org/media,
d.djangopackages.org/media {
	file_server
	root * /data/media
	header / Cache-Control "max-age=2592000"
	encode zstd gzip
}

djangopackages.org/static,
web2.djangopackages.org/static,
blue.djangopackages.org/static,
green.djangopackages.org/static,
a.djangopackages.org/static,
b.djangopackages.org/static,
c.djangopackages.org/static,
d.djangopackages.org/static {
	file_server
	root * /data/static
	header / Cache-Control "max-age=2592000"
	encode zstd gzip
}
