/* General */

body { background: #FFF; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 10pt; margin: 0;}
#main { padding: 0 30px; }

table, form, fieldset { border: 0; }

a { color: #2F1D1D; }

h1 { font-size: 197%; }
h2 { font-size: 153.9%; }

.box_round {
     -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3-4 */
          border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */
}

/* This overrides styles from base.css */
#top_border { height:10px; background: #75DFCA; }

#tabhead { border: 0; position: relative; }

#tabhead .logo { height: 40px; padding: 12px 0 4px 0; font-weight: 700; background-color: #FFF; float:left;}
#tabhead .logo img { height:24px; }
#tabhead .logo h1 { line-height: 80%; font-size: 200%; display: inline; padding-left: 14px; padding-right: 26px; }
#tabhead .logo h2 { font-size: 17px; display: inline; }
#tabhead .logo a { color: #121212; text-decoration: none; }

#tabhead #header-search { float:right; padding:10px 10px 0 10px;}

#tabhead .login { float:right; color:#333; padding:14px 10px 0 10px; } /* login bar text colour */
#tabhead .login a, #tabhead .login a:visited { color: #333; }
#tabhead .login a:hover { color: #DEF; }

#tabhead .searchform { float:right; padding:10px 10px 0 10px;}

#footer { margin-top:120px; padding-top:10px; padding-bottom:10px; clear:both; width: 100%; text-align: center; font-size:80%; background: #75DFCA; }


/* Search box */
#id_q_p { width:380px; height:26px; border:1px solid #999999; margin:0; padding:0 5px; vertical-align:top;}
input#magnifier-submit { background: url('../img/search.png') #87deaa no-repeat center; border:0; height:28px; width:36px; margin:0 0 6px -5px; padding:0; vertical-align:top; border: 1px solid #999;}
.home-searchcheckbox { margin: 0 2px 0 10px; }

/* autocomplete */
.ui-autocomplete { background: #fff; text-align: left; border: 1px solid #bfbfbf; }
.ui-state-hover { background: #eee; }
.ui-menu-item a { display: block; padding: 3px 10px; }

/* Style all tables the same way throughout the site  */
th { font-size: 11px; color: #4f6b72; border: 1px solid #C1DAD7; letter-spacing: 2px; text-transform: uppercase; text-align: left; padding: 6px 6px 6px 12px; background: #C0F1D1; }
td { border: 1px solid #C1DAD7; background: #fff; padding: 6px 6px 6px 12px; color: #4f6b72; }
.clickable { background: #f9f6d8; cursor:pointer;}

/* Search */
.ui-autocomplete li { list-style: none; }
#search-big-button { background-color: #36bc6c; color: #ffffff; font-weight: 500; text-transform: uppercase; letter-spacing: 0.2em; border: 0; padding: 5px 10px 6px; cursor:pointer; width: 53%;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
#div_id_q, #search-big-button-holder { border-bottom: 0; }

.tiny-column {width: 60px;}

.hide {display:none;}

.edit {font-style: italic; color: #999; float: right; font-size: .85em}
ul.messages {padding: 0; margin: 10px 0}
ul.messages li {background-color: #FFB; border: 1px solid #EE0; list-style-type: none; padding: 5px 10px}

td.usage-container {width: 8em}
td.usage-container .usage-button {float: right}

#site_wide_announcements {background-color: #75dfca;}

.clearfix {clear:both;}

#search-results { width: 960px; }

#grid-listing, #package-listing { float:left; width:450px; }
#package-listing { margin-right: 20px; }
#grid-listing { padding-left: 20px; border-left: 1px solid #C1DAD7;}

.grid-item, .package-item { margin: 0; padding: 1em; border-bottom: 1px solid #C1DAD7;}
.grid-item h3, .package-item h3 { margin: 0; width: 420px;}
.grid-item p.date { margin-bottom: 0; }
.grid-item p.description { margin-top: 10px; }

p.date { font-style: italic; }
.package-item p.date { float: left; }
.package-downloads, .package-stars { float: right; text-align: right; margin-left: 10px; padding-left: 25px;}
.package-downloads { background: url(../img/download_20x20_clear.png) no-repeat 0 center; }
.package-stars { background: url(../img/eye_20x20_clear.png) no-repeat 0 center; }
.description { clear: both; margin-bottom: 5px;}


/* Pagination of grids, profiles, and other things */
.pagination {
  margin-bottom: 15px;
}

.profile-edit-form {
    width: 500px;

};

.in-grid-already { font-style: italic; font-size:8px;}

/* Bottom sitemap, which is used to provide content for the top nav bar */
#sitemap a, #sitemap a:visited {font-size:8px;}

/* Fluid columns, from http://fluid.newgoldleaf.com/ */
/* .section and .column are required in your HTML */
div.section {display:table; width:100%; border-collapse:collapse;}
div.column {display:table-cell;}

/* .column widths, -10% of "perceived width" for 6 column layouts */
div.six_column.section div.one {width:15%;}
div.six_column.section div.two {width:30%;}
div.six_column.section div.three {width:45%;}
div.six_column.section div.four {width:60%;}
div.six_column.section div.five {width:75%;}
div.six_column.section div.six {width:90%;}

/* nine columns */
div.nine_column.section div.one {width:10%;}
div.nine_column.section div.two {width:20%;}
div.nine_column.section div.three {width:30%;}
div.nine_column.section div.four {width:40%;}
div.nine_column.section div.five {width:50%;}
div.nine_column.section div.six {width:60%;}
div.nine_column.section div.seven {width:70%;}
div.nine_column.section div.eight {width:80%;}
div.nine_column.section div.nine {width:90%;}

/* twelve columns */
div.twelve_column.section div.one {width:8%;}
div.twelve_column.section div.two {width:16%;}
div.twelve_column.section div.three {width:24%;}
div.twelve_column.section div.four {width:32%;}
div.twelve_column.section div.six {width:48%;}
div.twelve_column.section div.eight {width:64%;}
div.twelve_column.section div.twelve {width:96%;}
