table#grid th { background: #75dfca;}

.hidden {display:none;}

#grids-list, #grids-list li,
#grid-archive-list, #grid-archive-list li { list-style:none; }

/*  Note: audreyr commented this out b/c it appears to be doing nothing. 10/1/2011
div#body {
    width: auto;
    padding-right: 30px;
}
*/

/* additional style to look good with dataTable plugin */
.dataTables_wrapper table {
    /* position: absolute; */
}
.dataTables_wrapper table {
    margin-bottom: 0 !important;
    /* table-layout: fixed; */
}
.dataTables_filter, 
.dataTables_info {
    margin: 8px 0;
}
td.package-name {
    font-weight: bold; 
    color: #000000; 
    background-color: #E0FBE9;
}
#grid-toggle a {
    background-color: #C0F1D1;
    border: 1px solid #C1DAD7;
    padding: 6px 25px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
