<form id="find-a-grid-form" action="" method="post" style="display: none;">
    {% csrf_token %}
    <h2>Search for a grid</h2>
    <input type="hidden" name="redirect" value="{% url 'package' package.slug %}" />                
    <input type="text" name="search-field" id="find-a-grid-input" value="" autocomplete="off" placeholder="Grid name" />
    <input name="package" id="package-field" value="{{ package.id }}" type="hidden" />    
    <div id="target-parent"><div id="target"></div></div>
</form>
