{% load emojificate i18n package_tags %}

<a href="{% url 'package' package.slug %}" class="list-group-item">
    <h4 class="list-group-item-heading">
        {{ package.title|emojify|emojificate }}
    </h4>
    <p class="list-group-item-text">
        {{ package.repo_description|emojify|emojificate }}
    </p>
    <p class="list-group-item-text">
        <!-- TODO: do something better with this -->
        GitHub stars: {{ package.repo_watchers }}
        {% comment %}, PyPI downloads: {{ package.pypi_downloads }}{% endcomment %}
    </p>
</a>
