{% load i18n %}
<div class="text-center categories col-sm-4">
    <h2>{% translate "Public Service Announcement" %}</h2>
    {% if psa_body %}
        <p>{{ psa_body|safe }}</p>
    {% else %}
        <p>
            There are currently no announcements.
            To request a PSA, please post at <a href="https://fosstodon.org/@djangopackages">@djangopackages</a>
            or open a <a href="https://github.com/djangopackages/djangopackages/discussions">GitHub Discussion</a>.
        </p>
    {% endif %}
</div>
