{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ object.title }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/package.css" />
<!-- TODO: add this back in if needed, or remove it
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/package.js"></script> -->
{% endblock %}

{% block body_class %}package{% endblock %}

{% block subnav %}
        &nbsp;
{% endblock %}

{% block body %}
    
    <h1 id="package-name">{{ object.title }}</h1>
    <div id="package-version">{{ object.pypi_version }}</div>

    <p id="package-repos">
        GitHub repo: <a href="{{ object.repo_url }}">{{ object.repo_url }}</a>
    </p>

    {% if object.pypi_url %}
        <p id="package-pypilink">
            PyPi page: <a href="{{ object.pypi_url }}">{{ object.pypi_url }}</a>
        </p>
    {% endif %}

    <img id="package-githubcommits" src="http://chart.apis.google.com/chart?cht=bvg&chs=600x30&chd=t:0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,5,6,8,0,0,6,0,0,0,1,2&chco=666666&chbh=a&chds=0,20&chm=N,000000,0,,10|N,000000,1,,10|N,000000,2,,10" />

    <div id="package-statbox">
    </div>
    
    <p>
        {{ object.repo_description }}
    </p>

    <h2>Project collaborators</h2>

    <p>
        {% for collaborator in object.participant_list %}
            <a href="http://github.com/{{ collaborator }}">{{ collaborator }}</a>
        {% endfor %}
        
    </p>

    <h2>Comparison Grids</h2>

    <div id="package-gridname"><a href="#">Form Styling</a></div>
    <div id="package-gridname"><a href="#">Form Tools</a></div>
    <div id="package-gridname"><a href="#">508 Compliance Apps</a></div>

{% endblock %}
