{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ object.title }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/package.css" />
{% endblock %}

{% block body_class %}package{% endblock %}

{% block subnav %}
        &nbsp;
{% endblock %}

{% block body %}
    
    <h1 id="package-name">{{ object.title }}</h1>
    <div id="package-version">{{ object.pypi_version }}</div>

    <p id="package-repos">
        GitHub repo: <a href="http://github.com/pydanny/django-uni-form/">http://github.com/pydanny/django-uni-form/</a>
    </p>

    <p id="package-pypilink">
        PyPi page: <a href="http://pypi.python.org/pypi/django-uni-form/0.7.0">http://pypi.python.org/pypi/django-uni-form/0.7.0</a>
    </p>

    <div id="package-statbox"></div>
    
    <p>
        {{ object.repo_description }}
    </p>

    <h2>Project collaborators</h2>

    <p>
        {% for collaborator in object.participant_list %}
            <a href="http://github.com/{{ collaborator }}">{{ collaborator }}</a>
        {% endfor %}
        
    </p>

    <h2>Comparison Grids</h2>

    <div id="package-gridname"><a href="#">Form Styling</a></div>
    <div id="package-gridname"><a href="#">Form Tools</a></div>
    <div id="package-gridname"><a href="#">508 Compliance Apps</a></div>

{% endblock %}
