{% extends "package/base.html" %}

{% load i18n %}
{% load package_tags %}



{% block head_title %}{{ object.title }}{% endblock %}


{% block body %}
    
    <h1 id="package-name"><a href="{% url home %}">home</a> / <a href="{% url packages %}">packages</a> / {{ object.title }}</h1>
    <div id="package-version">{{ object.pypi_version }}</div>

    <div id="package-editlink">
        <a href="{% url edit_package object.slug %}">Edit</a>
    </div>



    <p id="package-repos">
        {{ object.repo.title }} repo: <a href="{{ object.repo_url }}">{{ object.repo_url }}</a>
        <img src="{{ STATIC_URL }}img/eye_20x20_clear.png" />{{ object.repo_watchers }}&nbsp;
        <img src="{{ STATIC_URL }}img/fork_20x20_clear.png" />{{ object.repo_forks }}
        {% comment %}
            TODO - fix github's problem with just listing 35 commits
            <img src="{{ STATIC_URL }}img/whitearrow_20x20_clear.png" />{{ object.repo_commits }}
        {% endcomment %}            
        &nbsp;<img src="http://chart.apis.google.com/chart?cht=bvg&chs=105x20&chd=t:{{object|commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" />
    </p>

    {% if object.pypi_url %}
        <p id="package-pypilink">
            PyPi: <a href="{{ object.pypi_url }}">{{ object.pypi_url }}</a>
            <img src="{{ STATIC_URL }}img/grayarrow_20x20_clear.png" />{{ object.pypi_downloads }}
        </p>
    {% endif %}

    <div id="package-statbox">
        <img id="package-watchers-icon" src="{{ STATIC_URL }}img/eye_20x20_clear.png" />
        <div id="package-watchers-num">217</div>
        <img id="package-forkers-icon" src="{{ STATIC_URL }}img/fork_20x20_clear.png" />
        <div id="package-forkers-num">33</div>

        <img id="package-githubcommits" src="http://chart.apis.google.com/chart?cht=bvg&chs=450x30&chd=t:{{ object|commits_over_52 }}&chco=666666&chbh=a&chds=0,20" />
    </div>

    <div class="clear"></div>
    <p>
        {{ object.repo_description }}
    </p>

    <h2>Project collaborators</h2>

    <p>
        {% for collaborator in object.participant_list %}
            <a href="http://github.com/{{ collaborator }}">{{ collaborator }}</a>
        {% endfor %}
        
    </p>

    <h2>Comparison Grids</h2>
    
    {% for grid in object.grids %}
        <div id="package-gridname"><a href="{% url grid grid.slug %}">{{ grid }}</a></div>    
    {% empty %}
        <div id="package-gridname"><a href="{% url grids %}">Find a grid to join!</a></div>
    {% endfor %}
    {% if objects.grids.count %}
        <div id="package-gridname"><a href="{% url grids %}">Find another grid to join!</a></div>    
    {% endif %}
    
    <h2 id="package-sitesheading">Sites using this package</h2>
    
    <div id="package-editlink">
        {% if request.user.is_authenticated %}        
            <a href="{% url add_example object.slug %}">Add an example</a>
        {% endif %}
    </div>
    
    {% with object.active_examples as examples %}
    {% if examples %}
    <ol id="package-sitelist">
        {% for example in examples %}
            <li>
                <a href="{{ example.url }}">{{ example.title }}</a>
                {% if request.user.is_authenticated %}
                    <div id="package-editlink">
                        <a href="{% url edit_example object.slug example.id %}">edit</a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
    {% endif %}
    {% endwith %}

{% endblock %}

