{% comment %}
Load DOM placement for the EthicalAds placement

https://ethical-ad-client.readthedocs.io/

PARAMETERS:

    - ea_type - use a text-only ad if this is set to "text". Otherwise use an image
    - ea_id - set the ID on the DOM. EthicalAds reporting can report on different IDs differently
{% endcomment %}
{% load waffle_tags %}
{% switch "switch_use_ethical_ads" %}
    <div class="horizontal" style="min-height: {% if ea_type == 'text' %}80{% else %}180{% endif %}px" data-ea-publisher="djangopackagesorg" {% if ea_id %}id="{{ ea_id }}"{% endif %} data-ea-type="{% if ea_type == 'text' %}text{% else %}image{% endif %}"></div>
{% endswitch %}
