<meta name="description" content="{{ page_description }}" />
<meta name="keywords" content="{{ page_keywords }}" />
<title>{{ site_title }} : {{ page_title }}</title>

<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ site_title }}" />
<meta property="og:title" content="{{ site_title }} : {{ page_title }}" />
<meta property="og:description" content="{{ page_description }}" />
<meta property="og:url" content="{{ page_url }}" />
<meta property="og:image" content="{{ base_url }}{{ static_url }}img/logo_squares.png" />
<meta property="og:image:alt" content="Django Packages logo" />
<meta property="og:image:width" content="195" />
<meta property="og:image:height" content="93" />
<meta property="og:image:type" content="image/png" />

<meta name="twitter:card" content="summary" />
