{% extends "base.html" %}

{% block head_title %}Github Package Importer{% endblock %}

{% block body %}
<h1>Github Package Importer</h1>

{% if results %}
    Your packages have been imported.
{% endif %}

<form method="post" action="">
    {% csrf_token %}

    Github username or org name: <input type="text" name="github_name"><br/>

    This is a Github 
    <select name="user_type">
        <option value="user">user</option>
        <option value="org">org</option>
    </select>
    <br/>

    Category to import packages into: 
    <select name="category_slug">
        {% for category in categories %}
            <option value="{{ category.slug }}">{{ category.title }}</option>
        {% endfor %}
    </select>
    <br/>

    <input type="submit" value="Import packages from Github account">
</form>


<ul>
{% for result in results %}
<li><a href="{{ result.get_absolute_url }}">{{ result.title }}</a><br/>
    <a href="{{ result.repo_url }}">{{ result.repo_url }}</a><br />    
    {% if result.pypi_url %}<a href="{{ result.pypi_url }}">{{ result.pypi_url }}</a><br />{% endif %}
    
</li>    
{% endfor %}
</ul>
{% endblock %}