{% extends "grid/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans with grid.title as grid_title %}Add a package to Grid '{{ grid_title }}'{% endblocktrans %}{% endblock %}

{% block body %}

    {% url 'grid' grid.slug as grid_url %}
    <h2><a href="{% url 'home' %}">{% trans "home" %}</a> / <a href="{% url 'grids' %}">{% trans "grids" %}</a> / {% blocktrans with grid.title as grid_title %}Add a package to grid '<a href="{{ grid_url }}">{{ grid_title }}</a>'{% endblocktrans %}</h2>
        
    <form action="{{ request.PATH }}" method="post" id="grid-package-form">
        {% csrf_token %}
        <fieldset>
            <input id="search-field" type="text" name="q" value="search packages" autocomplete="off" />
            <input name="package" id="package-field" value="0" type="hidden" />
            <div id="target-parent"><div id="target"></div></div>
        
        </fieldset>

    </form>
    
    <h3>What if the Package isn't in the database?<h3>
        
    <p><a class="btn btn-default" href="{% url 'add_new_grid_package' grid.slug %}">{% trans "How about adding it? »" %}</a></p>
                


{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(function() {          

        $('input#search-field').focus();

        var timer = null;
        $('input#search-field').keyup(function() {
            var search_text = $('input#search-field').val();
            var search_url = '{% url 'ajax_package_list' %}?q=' + search_text + '&grid={{ grid.slug }}';

            // Short delay so keystrokes don't pound search URL
            if(timer) {
                window.clearTimeout(timer);
            }

            timer = window.setTimeout(function() {
                $.get(search_url, function(data) {
                    $('#target').fadeTo('fast', 0.3, function() {
                        $('#target').html(data);
                        $('#target').fadeTo('slow', 1.0);
                    });
                });
            }, .4 * 1000);
        });

        // Ignore 'enter' key if pressed
        $("#grid-package-form").keypress(function(e) {
            if (e.which == 13) {
                return false;
            };
        });       

    });    
</script>      
{% endblock %}      
