{% extends "grid/base.html" %}

{% load i18n %}

{% block head_title %}Add a package to Grid '{{ grid.title }}'{% endblock %}

{% block body %}

    <h1><a href="{% url home %}">home</a> / <a href="{% url grids %}">grids</a> / Add a package to grid '<a href="{% url grid grid.slug %}">{{ grid.title }}</a>'</h1>
    
    {# TODO replace with a proper message #}
    {% if message|length %}<p class="editable-cell">{{ message }}</p>{% endif %}
    
    <form method="post" id="grid-package-form">
        {% csrf_token %}
        <fieldset>
            <input id="search-field" type="text" name="q" value="search packages" autocomplete="off" />
            <input name="package" id="package-field" value="0" type="hidden" />
            <div id="target-parent"><div id="target"></div></div>
        
        </fieldset>

    </form>
    
    <h2>What if the Package isn't in the database?<h2>
        
    <p><a class="large awesome forestgreen" href="{% url add_new_grid_package grid.slug %}">How about adding it? »</a></p>
                


{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(function() {          

        $('input#search-field').focus();

        var timer = null;
        $('input#search-field').keyup(function() {
            var search_text = $('input#search-field').attr('value');
            var search_url = '{% url ajax_package_list %}?q=' + search_text;

            // Short delay so keystrokes don't pound search URL
            if(timer) {
                window.clearTimeout(timer);
            }

            timer = window.setTimeout(function() {
                $.get(search_url, function(data) {
                    $('#target').fadeTo('fast', 0.3, function() {
                        $('#target').html(data);
                        $('#target').fadeTo('slow', 1.0);
                    });
                });
            }, .4 * 1000);
        });

        // Ignore 'enter' key if pressed
        $("#grid-package-form").keypress(function(e) {
            if (e.which == 13) {
                return false;
            };
        });       

    });    
</script>      
{% endblock %}      
