{% extends "grid/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}Add new grid{% endblock %}

{% block body %}

    <h1>Add new grid</h1>
    
    <p>If the Django Packages team likes your grid, we'll put it on the navigation bar!</p>
    
    <form class="uniForm" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
            <div class="form_block">
                <input type="submit" name="add" value="Add new package">
            </div>            
        </fieldset>

    </form>

{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(function() {          
        $('input#search-field').focus();
        
    });    
</script>      
{% endblock %}      
        