{% extends "grid/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans with grid.title as grid_title %}Add feature for comparison to grid '{{ grid_title }}'{% endblocktrans %}{% endblock %}

{% block body %}

    {% url grid grid.slug as grid_url %}
    <h1><a href="{% url home %}">{% trans "home" %}</a> / <a href="{% url grids %}">{% trans "grids" %}</a> / {% blocktrans with grid.title as grid_title %}Add feature for comparison to grid '<a href="{{ grid_url }}">{{ grid_title }}</a>'{% endblocktrans %}</h1>    

    
    <form class="uniForm" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
            <div class="form_block">
                <input class="awesome forestgreen" type="submit" name="edit" value="Edit">
                <a href="{% url grid grid.slug %}">{% trans "cancel" %}</a>    
            </div>            
        </fieldset>

    </form>


{% endblock %}

{% block extra_body %}
<script>
    $("#id_title").focus();
</script>
{% endblock %}
