{% extends "grid/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Edit Feature" %}{% endblock %}

{% block body %}

    <h1>{% trans "Edit Feature" %}</h1>
    
    <form class="uniForm" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
            <div class="form_block">        
                <input class="awesome forestgreen" type="submit" name="edit" value="{% trans "Edit" %}">
                <a href="{% url grid grid.slug %}">{% trans "cancel" %}</a>                       
            </div>

        </fieldset>
    </form>

{% endblock %}


{% block extra_body %}
<script>
    $("#id_title").focus();
</script>
{% endblock %}
