{% extends "grid/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Edit Element" %}{% endblock %}

{% block body %}

    <h2>{% trans "Edit Element which is related to:" %}</h2>
    
    <p><strong>{% trans "Grid:" %} {{ grid }}</strong></p>
    <p><strong>{% trans "Package:" %} {{ package }}</strong></p>    
    <p><strong>{% trans "Feature:" %} {{ feature.title }}</strong> {{ feature.description}}</p>
    
    
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
            <div class="form_block">        
                <input class="btn btn-default" type="submit" name="edit" value="{% trans "Edit" %}">
                <a href="{% url 'grid' grid.slug %}">{% trans "cancel" %}</a>
            </div>            
            
        </fieldset>
    </form>
    
    <p>
        
    </p>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_text").focus();
</script>
{% endblock %}
