{% extends "grid/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}Grids{% endblock %}

{% block subnav %}
        &nbsp;
{% endblock %}

{% block body %}

    <h1>Grids</h1>
    
    <div id="grid-listing">
    {% for grid in grids %}
        <dl class="grid-item">
            <dt><strong><a href="{% url grid grid.slug %}">{{ grid.title }}</a></strong></dt>
            <dd class="counts">
                    Packages {{ grid.gridpackage_set.count }}
                    Features {{ grid.feature_set.count }}
            </dd>
            <dd class="description">{{ grid.description }}</dd>        
        </dl>
    {% endfor %}
    </div>
{% endblock %}
