{% extends "base.html" %}

{% load django_tables2 i18n page_metadata_tags %}

{% block metadata %}
    {% translate "Grids" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock metadata %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{% translate "Grids" %}</h2>
                {% if request.user.is_authenticated and profile.can_add_grid %}
                    <p>
                        <a class="btn btn-primary" href="{% url 'add_grid' %}">{% translate "Add Grid »" %}</a>
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock body %}
