{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Grids" %}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>{% trans "Grids" %}</h2>
      {% if request.user.is_authenticated and profile.can_add_grid %}
        <p>
          <a class="btn btn-default" href="{% url 'add_grid' %}">{% trans "add grid »" %}</a>
        </p>
      {% endif %}
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th>{% trans "Grid" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Last Modified" %}</th>
            <th>{% trans "Packages" %}</th>
            <th>{% trans "Features" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for grid in grids %}
            <tr>
              <td><a href="{% url 'grid' grid.slug %}">{{ grid.title }}</a></td>
              <td>{{ grid.description }}</td>
              <td>{{ grid.modified|date:"D d M" }}</td>
              <td>{{ grid.gridpackage_count }}</td>
              <td>{{ grid.feature_set.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
