{% extends "grid/base.html" %}

{% load i18n %}


{% block head_title %}Timesheet for {{ grid.title }}{% endblock %}

{% block extra_head %}
 <link href="{{ STATIC_URL }}css/timesheet.css" media="all" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>{% trans "Grid Time Table" %}</h2>
        <div id="timesheet"></div>
    </div>
  </div>
</div>

{% endblock %}
{% if not forloop.last %},{% endif %}
{% block extra_body %}
    <script src="{{ STATIC_URL }}js/timesheet.js" type="text/javascript"></script>
    <script type="text/javascript">
        new Timesheet('timesheet', 2008, 2016, [
        {% for grid_package in grid_packages %}
            {% with grid_package.package as package %}
            ['{{ package.created|date:"m/Y" }}', '{{ package.last_commit.commit_date|date:"m/Y" }}', '{{ package.slug }}', ''],
            {% endwith %}
        {% endfor %}
        ]);


    </script>
{% endblock %}
