{% extends "grid/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>{% trans "Grid Form" %}</h2>
    
      <p>{% trans "Grids added here are publicly listed in the" %} <a href="/grids">{% trans "list of all grids" %}</a>.</p>
      <p>{% trans "Periodically, Daniel and Audrey will add some of these grids to the top navigation bar!" %}</p>
    
      <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <fieldset>
          {{ form|crispy }}
          <div class="form_block">
            <input class="btn btn-default" type="submit" name="add" value="{% trans "Submit »" %}">
          </div>            
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(function() {          
        $('input#id_title').focus();
        
    });    
</script>      
{% endblock %}      
        
