{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block body %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <button type="submit">Reset my password</button></p>
</form>

{% endblock %}
