{% extends "blog/base.html" %}

{% load humanize i18n markdown_tags page_metadata_tags %}

{% block metadata %}
    {% translate "Changelog" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock metadata %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <h1 class="text-6xl font-bold">Changelog</h1>
                <h2 class="text-5xl">Follow Django Packages updates and improvements.</h2>
            </div>
        </div>
        <div class="flex flex-col gap-16 row">
            {% for post in posts %}
                <section class="flex flex-row gap-8">
                    <div class="flex flex-col gap-4 col-xs-2">
                        <div class="text-4xl">{{ post.published_date|date:"F j, Y" }}</div>
                        <div class="text-3xl"><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></div>
                    </div>
                    <div class="col-xs-8">
                        {{ post.content|markdown }}
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
