{% extends "blog/base.html" %}

{% load humanize markdown_tags page_metadata_tags %}

{% block metadata %}
    {% page_metadata page_title=post.title %}
{% endblock metadata %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <h1 class="text-6xl font-bold"><a href="{% url 'post_list' %}">Changelog</a></h1>
                <h2 class="text-5xl">Follow Django Packages updates and improvements.</h2>
            </div>
        </div>
        <div class="flex flex-col gap-16 row">
            <main class="flex flex-row gap-8">
                <div class="flex flex-col gap-4 col-xs-2">
                    <div class="text-4xl">{{ post.published_date|date:"F j, Y" }}</div>
                    <div class="text-3xl"><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></div>
                </div>
                <div class="col-xs-8">
                    {{ post.content|markdown }}
                </div>
            </main>
        </div>
    </div>
{% endblock body %}
