{% extends "blog/base.html" %}

{% load humanize markdown_tags page_metadata_tags %}

{% block metadata %}
    {% page_metadata page_title=post.title %}
{% endblock metadata %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <h1 class="tw-font-bold tw-text-6xl"><a href="{% url 'post_list' %}">Changelog</a></h1>
                <h2 class="tw-text-5xl">Follow Django Packages updates and improvements.</h2>
            </div>
        </div>
        <div class="row tw-flex tw-flex-col tw-gap-16">
            <main class="tw-flex tw-flex-row tw-gap-8">
                <div class="col-xs-2 tw-flex tw-flex-col tw-gap-4">
                    <div class="tw-text-4xl">{{ post.published_date|date:"F j, Y" }}</div>
                    <div class="tw-text-3xl"><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></div>
                </div>
                <div class="col-xs-8">
                    {{ post.content|markdown }}
                </div>
            </main>
        </div>
    </div>
{% endblock body %}
