{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Search" %}{% endblock %}
{% block body_class %}search{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>{% trans "Search" %}</h2>
    
      <form>
        <fieldset>
          {{ form|crispy }}
          <div id="search-big-button-holder" class="ctrlHolder">        
            <input type="submit" name="b" value="{% trans "Search" %}" id="search-big-button"> 
          </div>
        </fieldset>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>{% trans "Package" %}</th>
            <th>{% trans "Last PyPI release:" %}</th>
            <th>{% trans "PyPI Downloads" %}</th>
            <th>{% trans "Watchers" %}</th>
            <th>{% trans "Description" %}</th>
          </tr>
        </thead>
        <tbody>
          
          {% for item in items %}
            {% if item.item_type == 'package' %}
              <tr>
                <td><a href="{{ item.absolute_url }}">{{ item.title }}</a></td>
                <td>
                  {% if item.last_released or item.last_committed  %}
                    {% if item.last_released %}{{ item.last_released|timesince }} ago{% endif %}
                  {% endif %}
                </td>
                <td>
                  {% with pypi_name=item.pypi_name %}
                    {% if pypi_name %}
                      <a href="https://crate.io/packages/{{ pypi_name }}/" rel="nofollow"><img src="https://pypip.in/d/{{ pypi_name }}/badge.png"></a>
                    {% endif %}
                  {% endwith %}
                </td>
                <td>{{ item.repo_watchers }}</td>
                <td>{{ item.description }}</td>
              </tr>
            {% endif %}
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_q").focus();
    
    {% for grid in grids %}
        $('#grid-{{ grid.id }}').mouseover(function() {
            $('#grid-{{ grid.id }}').addClass("clickable");
        });
        $('#grid-{{ grid.id }}').mouseout(function() {
            $('#grid-{{ grid.id }}').removeClass("clickable");
        });
        $('#grid-{{ grid.id }}').click(function() {
            $(location).attr("href","{% url 'grid' grid.slug %}");
        });   
    {% endfor %}    
    
    {% for package in packages %}
        $('#package-{{ package.id }}').mouseover(function() {
            $('#package-{{ package.id }}').addClass("clickable");
        });
        $('#package-{{ package.id }}').mouseout(function() {
            $('#package-{{ package.id }}').removeClass("clickable");
        });
        $('#package-{{ package.id }}').click(function() {
            $(location).attr("href","{% url 'package' package.slug %}");
        });        
    {% endfor %}
</script>
{% endblock %}
