{% load i18n %}
{% load url from future %}
<tr>
    <th>{% trans "Package" %}</th>
    {% for grid_package in grid_packages %}
        <th>
          <a href="{% url 'package' grid_package.package.slug %}">
            {{ grid_package.package.title }}
          </a>
          {% if perms.grid.delete_gridpackage %}
            &nbsp;<a href="#" id="package-delete-{{ grid_package.pk }}">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          {% endif %}
        </th>
    {% endfor %}
</tr>
