{% extends "base.html" %}

{% load i18n page_metadata_tags %}

{% block metadata %}
    {% translate "Not Found" as trans_title %}
    {% page_metadata page_title=trans_title %}
{% endblock metadata %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2>Error</h2>
            <p>If this seems like a bug, would you please do us a favor and <a href="https://github.com/djangopackages/djangopackages/issues">create a ticket?</a></p>
        </div>
    </div>
{% endblock body %}
