{% load i18n %}

<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="categories col-sm-3 text-center">
      <!-- start Categories panel -->
          <h2 class="panel-title">{{ category.title_plural }} </h2>

            <p>{{ category.description }}</p>
        <a href="{% url 'category' category.slug %}" class="btn btn-primary">Show {{ category.title_plural }} ({{ category.count }})</a>

      </div>

      <!-- end Categories panel -->

        {% endfor %}
    </div>
</div>


<div class="container">



  <div class="row">
      <!-- start python 3 releasesl -->
    <div class="col-sm-4 col-lg-4">
      <h2>{% trans "Latest Python 3 Package Releases" %}</h2>

      <div class="list-group">
        {% for version in latest_python3 %}
          <a href="{{ version.package.get_absolute_url }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ version.package.title }} <small>v{{ version.number }}</small></h4>

            <p class="list-group-item-text">
              {% with version.package.repo_description|truncatewords:25 as short %}
                {% if version.package.repo_description|length > short|length %}
                  {{ short|slice:"-3" }}...
                {% else %}
                  {{ short }}
                {% endif %}
              {% endwith %}
            </p>
          </a>
        {% endfor %}
      </div>
    </div>
      <!-- end python 3 releasesl -->

    <div class="col-sm-4 col-lg-4">
      <h2>{% trans "Latest 5 Packages Added" %}</h2>

      <div class="list-group">
        {% for package in latest_packages %}
          <a href="{{ package.get_absolute_url }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ package.title }}</h4>

            <p class="list-group-item-text">
              {% with package.repo_description|truncatewords:25 as short %}
                {% if package.repo_description|length > short|length %}
                  {{ short|slice:"-3" }}...
                {% else %}
                  {{ short }}
                {% endif %}
              {% endwith %}
            </p>
          </a>
        {% endfor %}
      </div>
    </div>

      <div class="col-sm-4 col-lg-4">
      <h2>{% trans "Random 5" %}</h2>

      <div class="list-group">
        {% for package in random_packages %}
          <a href="{{ package.get_absolute_url }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ package.title }}</h4>

            <p class="list-group-item-text">
              {% with package.repo_description|truncatewords:25 as short %}
                {% if package.repo_description|length > short|length %}
                  {{ short|slice:"-3" }}...
                {% else %}
                  {{ short }}
                {% endif %}
              {% endwith %}
            </p>
          </a>
        {% endfor %}
      </div>
    </div>




  </div>

  <div class="row">




</div>
</div>
