{% extends "base.html" %}

{% load url from future %}
{% load cache %}
{% load i18n %}
{% load package_tags %}

{% block head_title %}{{ SITE_TITLE }} reusable apps, sites and tools directory{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2><i>{{ SITE_TITLE }} is a directory of reusable apps, sites, tools, and more for your {{ FRAMEWORK_TITLE }} projects.</i></h2>
            <p><b>{{ package_count }}</b> {% trans "packages and counting!" %}</p>
            <p>
                {% trans "Know of any packages not listed here?  Add them now!  It's quick and easy." %}
            </p>
            <p>
                <a class="large awesome forestgreen" href="{% url 'add_package' %}">{% trans "add package »" %}</a>
            </p>
            <p>
                {% trans "Or add a grid comparing the features of 2 or more similar packages." %}
            </p>
            <p>
                <a class="large awesome forestgreen" href="{% url 'add_grid' %}">{% trans "add grid »" %}</a>
            </p>
        </div>

        <div class="col-lg-4">
            <h2>{% trans "Package Categories" %}</h2>
             {% for category in categories %}
                <h3><a href="{% url 'category' category.slug %}">{{ category.title_plural }}</a> ( {{ category.count }} )</h3>
                <p>{{ category.description }}</p>
             {% endfor %}
        </div>

        <div class="col-lg-4">
            <h2>{% trans "random 5" %}</h2>
            
            {% for package in random_packages %}
            <div class="list-group">
                <a href="{{ package.get_absolute_url }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ package.title }}</h4>

                    <p class="list-group-item-text">
                        {% with package.repo_description|truncatewords:25 as short %}
                            {% if package.repo_description|length > short|length %}
                                {{ short|slice:"-3" }}...
                            {% else %}
                                {{ short }}
                            {% endif %}
                        {% endwith %}
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
             {% if potw %}
                 <h2>Featured Package</h2>
                 <a href="{{ potw.get_absolute_url }}">{{ potw.title }}</a>
                 <div class="package-watchers">{{ potw.repo_watchers }}</div> 
                 <p>{{ potw.repo_description }}</p>
             {% endif %}
            <h3>How to get your {{ FRAMEWORK_TITLE }} package featured here</h3>
            <p>Do you have a package that you'd like us to feature? Does it have tests? Are the docs on <a href="http://rtfd.org">Read the Docs</a>?</p>
            <p>If so, tweet at <a href="http://twitter.com/open_comparison">@Open_Comparison</a> with a link, and make sure the description field in your repo has been filled out.</p>
        </div>

        <div class="col-lg-4">
            {% if gotw %}
                <h2>Featured Grid</h2>            
                <a href="{{ gotw.get_absolute_url }}">{{ gotw.title }}</a>
                <p>{{ gotw.description }}</p>
                <p>
                  <strong>{% trans "Packages" %}:</strong> {{ gotw.gridpackage_set.count }},
                  <strong>{% trans "Features" %}:</strong> {{ gotw.feature_set.count }}
                </p>            
            {% endif %}
            <h3>How to get your {{ SITE_TITLE }} grid featured here</h3>
            <p>Have you created a new and interesting grid?</p>
            <p>Tweet at <a href="http://twitter.com/open_comparison">@Open_Comparison</a> with a link.  We'll consider featuring it.
        </div>

        <div class="col-lg-4">

            <h2>{% trans "latest 5" %}</h2>
          
            {% for package in latest_packages %}
            <div class="list-group">
                <a href="{{ package.get_absolute_url }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ package.title }}</h4>

                    <p class="list-group-item-text">
                        {% with package.repo_description|truncatewords:25 as short %}
                            {% if package.repo_description|length > short|length %}
                                {{ short|slice:"-3" }}...
                            {% else %}
                                {{ short }}
                            {% endif %}
                        {% endwith %}
                    </p>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}

