{% extends "site_base.html" %}

{% load cache %}
{% load i18n %}
{% load ifsetting_tag %}
{% load package_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
{% endblock %}

{% block head_title %}{% trans "django reusable apps, sites and tools directory" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <div id="home-rightcol">
        <div class="home-rightcolbox">
            <h1>Django Package of the Week</h1>
            {% cache 300 "homepage.dpotw" %}
                {% for package in dpotw %}            
                    <h2><a href="{% url package package.package.slug %}">{{ package.package.title }}</a></h2>
                    <p>{{ package.package.repo_description }}</p>
                {% endfor %}
            {% endcache %}
            <p><a href="{% url add_package %}">Add your own package, or someone else's!</a></p>
        </div>   

        <div class="home-rightcolbox">
            <h1>Grid of the Week</h1>
            {% cache 300 "homepage.gotw" %}
                {% for grid in gotw %}            
                    <h2><a href="{% url grid grid.grid.slug %}">{{ grid.grid.title }}</a></h2>
                    <p>{{ grid.grid.description }}</p>
                <p><a href="{% url add_grid %}">Add a new grid!</a></p>                
                {% endfor %}
            {% endcache %}
        </div>  
        <div class="home-rightcolbox">
            <h1>We need your help</h1>
            <p>Help us populate our database by adding any Django package, whether it's yours or someone else's.</p>
            <p><a class="large awesome forestgreen" href="{% url add_package %}">add package »</a></p>

            <p>Or add a grid comparing the features of 2 or more similar packages.</p>
            <p><a class="large awesome forestgreen" href="{% url add_grid %}">add grid »</a></p>
        </div>
    </div>
     
    <div id="home-leftcol">
        <p>Django Packages is a directory of reusable apps, sites, tools, and more for your Django projects.</p>
        <p><b>XX</b> packages and counting!</p>

        <div id="home-search">
            <form action="{% url search %}">
                <input id="id_q_p" type="text" name="q" maxlength="100" value="search" autocomplete="off" />
                <input id="hidden-submit" type="submit" value="go" /><br/>
                <input type="checkbox" name="category" value="apps" />apps
                <input type="checkbox" name="category" value="frameworks" />frameworks
                <input type="checkbox" name="category" value="projects" />projects
                <input type="checkbox" name="category" value="other" />other
            </form>         
        </div>

        <div id="home-addpackage">
            <p>Know of any packages not listed here?  Add them now!  It's quick and easy.</p>
            <a class="large awesome forestgreen" href="{% url add_package %}">add package »</a>
        </div>        

        <h2>Package Categories</h2>
         {% for category in categories %}
            <h3><a href="{% url category category.slug %}">{{ category.title_plural }}</a> ( {{ category.count }} )</h3>
            <p>{{ category.description }}</p>
         {% endfor %}
    </div>
    

{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(function() {          
        $('input#id_q_p').click(function() {
            $("input#id_q_p").val('');
        });                        
    });    

    $('#id_q_p').autocomplete({
      source: '{% url search_packages_autocomplete %}',
      minLength: 1,
      open: function(event, ui) { 
        ac_top = $('.ui-autocomplete').css('top'); 
        $('.ui-autocomplete').css({'width': '250px', 'top': ac_top + 10 }); 
      }
    });
    
</script>      
{% endblock %}      
