
<h2>{% trans "We need your help" %}</h2>

{% if request.user.is_authenticated and profile.can_add_package %}
<p>
    {% trans "Know of any packages not listed here?  Add them now!  It's quick and easy." %}
</p>

<p>

<a class="large awesome forestgreen" href="{% url add_package %}">{% trans "add package »" %}</a>

             </p>

            {% endif %}

            {% if request.user.is_authenticated and profile.can_add_grid %}

             <p>

                 {% trans "Or add a grid comparing the features of 2 or more similar packages." %}

             </p>

             <p>

                 <a class="large awesome forestgreen" href="{% url add_grid %}">{% trans "add grid »" %}</a>

             </p>

{% endif %}