{% extends "base.html" %}

{% load url from future %}
{% load cache %}
{% load i18n %}
{% load package_tags %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load opencomparison_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><a href="{% url 'home' %}">{% trans "home" %}</a> / Python 3 Compatible Packages ( {{ packages.count }} )</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>Packages with a PyPI trove classifier identifying them as Python 3 compatible.
        Typically, this goes into setup.py. See <a href="http://bit.ly/1deRfHP">Django as an example.</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th>{% trans "Using This" %}</th>
            <th>{% trans "Development Status" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Commits" %}</th>
            <th>{% trans "Version" %}</th>
            <th>{% trans "Watchers" %}</th>
            <th>{% trans "Forks" %}</th>
            <th width="25%">{% trans "Description" %}</th>
          </tr>
        </thead>

        <tbody ng-init="get_python3_packages('{% url "apiv2:python3" %}')">
          {% verbatim %}
          <tr ng-hide="python3_packages">
            <td colspan="8">Loading...</tr>
          </tr>
          <tr ng-repeat="package in python3_packages | orderBy:orderProp">
            <td class="usage-container usage-holder">
                &nbsp;
                <span class="usage-count">{{ package.usage_count }}</span>
            </td>
            <td>{{ package.development_status }}</td>
            <td><a id="link-{{$index}}" ng-href="/packages/p/{{package.slug}}">{{ package.title }}</a></td>
            <td><img class="package-githubcommits" ng-src="https://chart.googleapis.com/chart?cht=bvg&chs=105x20&chd=t:{{package.commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" /></td>             
            <td>{{ package.pypi_version }}</td>
            <td>{{ package.repo_watchers }}</td>
            <td>{{ package.repo_forks }}</td>  
            <td>{{ package.repo_description }}</td>
          </tr>    
          {% endverbatim %}
        </tbody>
     </table>
  </div>
</div>

{% endblock %}
