{% extends "base.html" %}

{% load i18n %}
{% load profile_tags %}
{% load crispy_forms_tags %}

{% block head_title %}Profile for {{ user }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-xs-2">
      <h2>{% blocktrans %}<span class="fn nickname">{{ user }}</span>{% endblocktrans %}</h2>

      {% if request.user == user %}
        <p><a href="{% url 'profile_edit' %}">{% trans "Edit my profile" %}</a></p>
      {% endif %}

      {% if local_profile.github_account %}
        <p><b>{% trans "Github account" %}</b>:
          <span class="fn"><a href="https://github.com/{{ local_profile.github_account }}">{{ local_profile.github_account }}</a></span>
        </p>
      {% endif %}

      {% if local_profile.bitbucket_url %}
        <p><b>{% trans "BitBucket account" %}</b>:
          <span class="fn"><a href="https://bitbucket.org/{{ local_profile.bitbucket_url     }}">{{ local_profile.bitbucket_url }}</a></span>
        </p>
      {% endif %}

      {% if local_profile.google_code_url %}
        <p><b>{% trans "Google Code account" %}</b>:
                    <span class="fn"><a href="http://code.google.com/u/{{ local_profile.google_code_url|urlize }}/">{{ local_profile.google_code_url|urlize }}</a></span>
        </p>
      {% endif %}
    </div>

    <div class="col-xs-5">
      {% if local_profile.my_packages %}
        <h3>{% trans "Packages Contributed To" %}</h3>
        <table class="table">
          <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Package" %}</th>
                <th>{% trans "Repo" %}</th>
              </tr>
          </thead>
          <tbody>
          {% for package in local_profile.my_packages %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{{ package.get_absolute_url }}">{{ package.title }}</a></td>
              <td><a href="{{ package.repo_url }}">{{ package.repo.title }}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>

    <div class="col-xs-5">
        <h3>{% trans "Packages Used" %}</h3>
        <ul class="usage-list">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Package" %}</th>
                <th>{% trans "Repo" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for package in user|package_usage %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ package.get_absolute_url }}">{{ package.title }}</a></td>
                    <td><a href="{{ package.repo_url }}">{{ package.repo.title }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </ul>
      </div>
    </div>
{% endblock %}
