{% extends "base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load profile_tags %}

{% block head_title %}{% trans "All Profiles" %}{% endblock %}

{% block body %}

<h2>{% trans "All Profiles" %}</h2>

<p>{% trans "Click table headers to sort" %}</p>

{% autosort users %}
{% autopaginate users %}
{% paginate %}

    <table id="home-packages">

        {{ request.user.admin }}

        <thead>
        <tr>
            <th>{% anchor username _("Name") %}</th>
            <th>{% anchor date_joined _("Joined") %}</th>
            <th>{% anchor is_staff _("Staff") %}</th>
            {% if request.user.is_staff %}
                <th>{% trans "Active" %}</th>
            {% endif %}
            <th>{% trans "Github" %}</th>
            <th>{% trans "BitBucket" %}</th>
        </tr>
        </thead>

        <tbody>
            {% for user in users %}
                {% with user.profile as profile %}
                <tr>
                    <td>

                        {% if profile.github_account %}<a href="{% url 'profile_detail' profile.github_account %}">{{ profile.github_account }}</a>
                        {% else %}
                        {{ user.username }}
                        {% endif %}
                    </td>
                    <td><span class="hide">{{ user.date_joined|date:"YmdHis" }}</span>{{ user.date_joined|timesince }}</td>
                    <td>
                        {% if user.is_staff %}
                            <img src="{{ STATIC_URL }}img/icon-yes.gif" />
                        {% else %}
                            <img src="{{ STATIC_URL }}img/icon-no.gif" />
                        {% endif %}
                    </td>
                    {% if request.user.is_staff %}
                        <td>
                            {% if user.is_active %}
                                <img src="{{ STATIC_URL }}img/icon-yes.gif" />
                            {% else %}
                                <img src="{{ STATIC_URL }}img/icon-no.gif" />
                            {% endif %}
                        </td>
                    {% endif %}
                    <td><a href="https://github.com/{{ profile.github_account|default:"" }}">{{ profile.github_account|default:"" }}</a</td>
                    <td><a href="https://bitbucket.org/{{ profile.bitbucket_url|default:"" }}">{{ profile.bitbucket_url|default:"" }}</a</td>
                </tr>
                {% endwith %}
        {% endfor %}
        </tbody>
    </table>

{% paginate %}

{% endblock %}
