{% load partials %}

{% partialdef favorite_btn %}
    <div class="btn btn-default " id="favorite-btn" hx-post="{% url 'add_favorite' package.id %}" hx-target="#favorite" hx-swap="innerHTML">
        <span class="glyphicon glyphicon-heart-empty"></span>
        Add to Favorite
    </div>

{% endpartialdef %}



{% partialdef unfavorite_btn %}
    <div class="btn btn-default " id="unfavorite-btn" onclick="openModal()" >
        <span class="glyphicon glyphicon-heart"></span>
        Favorited
    </div>

    <dialog class="tw:backdrop-brightness-50 tw:backdrop-blur-sm tw:z-10 tw:mt-[100px] tw:border-none tw:rounded-2xl tw:bg-white tw:shadow-lg   tw:p-4 tw:mx-auto tw:mt-20" id="dialog">
        <h3 class="tw:text-lg tw:font-semibold tw:text-center">
            Do you want to unfavorite {{ package.title }}?
        </h3>
        <div class="tw:flex tw:justify-end tw:mt-4 tw:gap-4">
            <button class="btn btn-default" id="yes" hx-post="{% url 'remove_favorite' package.id %}" hx-target="#favorite" hx-swap="innerHTML">
                Yes
            </button>
            <button class="btn btn-default" onclick="closeModal()" id="no">
                No
            </button>
        </div>
    </dialog>
    <script>
        function closeModal(){
            let dialog = document.querySelector("dialog")
            dialog.close()
        }
        function openModal(){
            let dialog = document.querySelector("dialog")
            dialog.showModal()
        }
    </script>
    
{% endpartialdef %}
