{% extends "grid/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Edit Element" %}{% endblock %}

{% block body %}

    <h1>{% trans "Edit Element which is related to:" %}</h1>
    
    <p><strong>{% trans "Grid:" %} {{ grid }}</strong></p>
    <p><strong>{% trans "Package:" %} {{ package }}</strong></p>    
    <p><strong>{% trans "Feature:" %} {{ feature.title }}</strong> {{ feature.description}}</p>
    
    
    <form class="uniForm" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
            <div class="form_block">        
                <input class="awesome forestgreen" type="submit" name="edit" value="{% trans "Edit" %}">
                <a href="{% url grid grid.slug %}">{% trans "cancel" %}</a>
            </div>            
            
        </fieldset>
    </form>
    
    <p>
        
    </p>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_text").focus();
</script>
{% endblock %}
