#package-name {
    display: inline;
}

#package-version {
    display: inline;
    font-weight: bold;
    padding-left: 16px;
    color: #666;
}

#package-statbox {
    margin: 10px auto;
    color: #808080;
/*    width: 800px;
    height: 80px;
    background: #DEF; */
}

.package-statbox-col {
    margin: 0 10px;
    float: left;
}

#package-editlink,
#package-gridname {
    display: inline;
}

#package-editlink a,
#package-gridname a {
    margin: 10px;
    padding: 6px;
    background: #DEF;
    color: #333;
    text-decoration: none;
}

#package-editlink a:hover,
#package-gridname a:hover {
    background: #666;
    color: #FFF;
}

.clear {
    clear: both;
}
