/* This overrides styles from base.css */
#tabhead {
    background: #fff;
    border-bottom: 1px solid #000; /* tab border */
    position: relative;
}
#tabhead .logo {
    height: 80px;
    padding: 10px 0 0 5px;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}
#tabhead .logo a {
    color: #333;
    text-decoration: none;
}
#tabhead .logo img {
    width: 190px;
    height: 79px;
}
#tabhead .login {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #333; /* login bar text colour */
}
#tabhead .login a, #tabhead .login a:visited {
    color: #333; /* login bar link colour */
}
#tabhead .login a:hover {
    color: #DEF; /* login bar link hover colour */
}

#footer {
    width: 100%;
    text-align: center;
}

/* Sticky footer from http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
   (still overriding base.css) */

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
}

/* This overrides styles from tabs.css */
#left_tabs {
    left: 20px; /* based on width and padding of logo */
}

