/* SITE-SPECIFIC TAB STYLING */

body.watched #tab_watched a,
body.downloaded #tab_downloaded a,
body.latest #tab_latest a
{
    color: #000; /* selected tab text colour */
}
body.watched #tab_watched,
body.downloaded #tab_downloaded,
body.latest #tab_latest
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
