{% extends "grid/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{{ object.title }}{% endblock %}

{% block subnav %}
        &nbsp;
{% endblock %}

{% block body %}

    <h1>Add a package to Grid '{{ grid.title }}'</h1>
    
    <form class="uniForm" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
            <div class="form_block">
                <input type="submit" name="edit" value="Edit">
            </div>            
        </fieldset>

    </form>


{% endblock %}
