{% extends "grid/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}Edit Element{% endblock %}

{% block subnav %}
        &nbsp;
{% endblock %}

{% block body %}

    <h1>Edit Element</h1>
    
    <form class="uniForm" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
        </fieldset>
        
        <input type="submit" name="edit" value="Edit">
    </form>
    
    <p>
        You can enter the word 'check' to place a checkmark.<br />
        Pretty URLs are created by using this format: [http://example.com|Example].
    </p>

{% endblock %}
