{% extends "grid/base.html" %}

{% comment %}
    Figure out how to use facebox for the forms cause right now the edits don't stick
     rel="facebox"
{% endcomment %}

{% load i18n %}
{% load grid_tags %}

{% block head_title %}{{ object.title }}{% endblock %}

{% block body %}
    
    <h1 id="grid-name">
      <a href="{% url home %}">home</a> / <a href="{% url grids %}">grids</a> / {{ grid.title }}
      <a href="{% url edit_grid grid.slug %}"><img src="{{ STATIC_URL }}img/icon_changelink.gif" alt="edit" /></a>
    </h1>

    <div id="grid-description">
        {{ grid.description|urlize|linebreaksbr }}
    </div>    
    
    {% with grid.feature_set.all as features %}
    
    <div id="grid-features">
        {% if features.count %}
            <h2>Features currently being evaluated</h2>
            <table id="grid" border="3">      
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Description</th>
                    </tr> 
                </thead>
                <tbody>
                    {% for feature in features %}
                        <tr>                        
                            <td>{{ feature.title }}
                            {% if request.user.is_authenticated %}
                                <a href="{% url edit_feature feature.id %}"><img src="{{ STATIC_URL }}img/icon_changelink.gif" alt="edit" /></a>&nbsp;<a href="#" id="feature-delete-{{ feature.id }}"><img src="{{ STATIC_URL }}img/icon_deletelink.gif" alt="delete" /></a>
                            {% endif %}
                            </td>
                            <td>{{ feature.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if request.user.is_authenticated %}        
                <p><img src="{{ STATIC_URL }}img/icon_addlink.gif" />&nbsp;<a href="{% url add_feature grid.slug %}">Add new feature to the grid</a></p>
            {% endif %}            
        {% else %}
            {% if request.user.is_authenticated %}        
                <p><img src="{{ STATIC_URL }}img/icon_addlink.gif" />&nbsp;<a href="{% url add_feature grid.slug %}">Add a feature to the grid</a></p>
            {% endif %}        
        {% endif %}


    </div>
    <p></p>
    
    {% with grid.gridpackage_set.all as grid_packages %}
    <div id="grid-parent"> 

        {% if grid_packages.count %}
        
            {% if request.user.is_authenticated %}        
                <p><img src="{{ STATIC_URL }}img/icon_addlink.gif" />&nbsp;<a href="{% url add_grid_package grid.slug %}">Add another package</a></p>
            {% endif %}        
        
            <table id="grid" border="3">
                <thead>
                    <tr>
                        <th>Package</th>
                        {% for package in grid_packages %}
                            <th>
                              <a href="{% url package package.package.slug %}">{{ package.package.title }}</a>
                              {% if request.user.is_authenticated %}
                                <a href="#" id="package-delete-{{ package.id }}"><img src="{{ STATIC_URL }}img/icon_deletelink.gif" alt="delete"/></a>
                              {% endif %}
                            </th>                
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr class="even">
                        <td>Description</td>
                        {% for package in grid_packages %}
                            <td>{{ package.package.repo_description|truncatewords:20|wordwrap:30|linebreaksbr }}</td>
                        {% endfor %}
                    </tr>                    
                    
                    <tr class="odd">
                        <td>Version</td>
                        {% for package in grid_packages %}
                            <td>{{ package.package.pypi_version }}</td>
                        {% endfor %}
                
                    </tr>
                    <tr class="even">
                        <td>Downloads</td>
                        {% for package in grid_packages %}
                            <td>
                                {% if package.package.pypi_version %}
                                    {{ package.package.pypi_downloads }}
                                {% else %}
                                    n/a
                                {% endif %}
                        
                            </td>
                        {% endfor %}
                    </tr>
                    <tr class="odd">
                        <td>Category</td>
                        {% for package in grid_packages %}
                            <td>{{ package.package.category }}</td>
                        {% endfor %}
                    </tr>                
                    <tr class="even">
                        <td>Repo</td>
                        {% for package in grid_packages %}
                            <td>{{ package.package.repo }}</td>
                        {% endfor %}
                    </tr>            
                    <tr class="odd">
                        <td>Repo Watchers</td>
                        {% for package in grid_packages %}
                            <td>{{ package.package.repo_watchers }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="even">
                        <td>Repo Forks</td>
                        {% for package in grid_packages %}
                            <td>{{ package.package.repo_forks }}</td>
                        {% endfor %}
                    </tr>                  
                    <tr class="odd">
                        <td>Participants</td>
                        {% for package in grid_packages %}
                            <td>
                                {% for collaborator in package.package.participant_list %}
                                    <a href="{{ package.package.repo.url }}/{{ collaborator }}">{{ collaborator }}</a>
                                    {% if not forloop.last %}
                                        <br />
                                    {% endif %}
                                {% endfor %}                        
                            </td>
                        {% endfor %}
                    </tr>
                    {% for feature in features %}
                        <tr class="{% cycle 'even' 'odd' %}">
                            <td>{{ feature.title }}</td>
                            {% for package in grid_packages %}
                                {% get_or_create_grid_element package feature %}
                                    <td class="editable-cell" id="element-f{{ element.feature_id }}-p{{ element.grid_package_id }}">{{ element.text|style_element|safe|urlize|linebreaksbr }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
            
                </tbody>
        
            </table>
            {% if request.user.is_authenticated %}
                <p><img src="{{ STATIC_URL }}img/icon_changelink.gif"/>&nbsp;Highlighted cells are editable.  Click highlighted cells to change text.</p>
            {% endif %}
                        
        {% else %}  
            <p><img src="{{ STATIC_URL }}img/icon_addlink.gif" />&nbsp;<a href="{% url add_grid_package grid.slug %}">Add a package to get a grid view</a></p>
        {% endif %}
    </div>
    

    
    {% endwith %}
    {% endwith %}    

{% endblock %}

{% block extra_body %}
    {% with grid.gridpackage_set.all as grid_packages %}
    {% with grid.feature_set.all as features %}    
        <script type="text/javascript">

            $(function() {  
                
                {% if request.user.is_authenticated %}
                
                    // Handle element edit redirects
                    {% for element in grid.elements %}
                        $("td#element-f{{ element.feature_id }}-p{{ element.grid_package_id }}").click(function() {
                            var url = "{% url edit_element element.feature_id element.grid_package_id %}";    
                            $(location).attr('href',url);                        
                        });
                    {% endfor %}                
                    
                    delete_confirmation = function(e, url) {
                        // The deletes are placed in here so there is just one place needed
                        e.preventDefault();

                        if(confirm('Are you sure?')) {
                            window.location = url;
                        }
                    };
                    
                    // handle feature deletes
                    {% for feature in features %}
                        $("a#feature-delete-{{ feature.id }}").click(function(e) {
                            delete_confirmation(e, '{% url delete_feature feature.id %}')                            
                        });                            
                    {% endfor %}
                    
                    // handle package deletes
                    {% for package in grid_packages %}
                        $("a#package-delete-{{ package.id }}").click(function(e) {
                            delete_confirmation(e, '{% url delete_grid_package package.id %}')
                        });                            
                    {% endfor %}                    
                    
                 {% endif %}
                 
            });    
        </script>
    {% endwith %}
    {% endwith %}    
{% endblock %}
