site_name: Django Packages Documentation
site_description: A directory of reusable apps, sites, tools, and more for your Django Packages projects.
site_url: https://docs.djangopackages.org/
repo_name: djangopackages/djangopackages
repo_url: https://github.com/djangopackages/djangopackages

theme:
  name: material
  custom_dir: overrides
  logo: img/logo_squares.png
  favicon: img/favicon.png
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      accent: green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - search.suggest
    - search.highlight
    - navigation.indexes
    - navigation.footer
    - content.code.copy
    - content.code.annotate
    - toc.follow

nav:
  - Home: index.md
  - contributing.md
  - install.md
  - install_opinionated.md
  - testing_instructions.md
  - deployment.md
  - management_commands.md
  - repo_handlers.md
  - apiv3_docs.md
  - faq.md
  - history.md
  - license.md
  - rules/deprecated.md
  - rules/description.md
  - rules/downloads.md
  - rules/fork.md
  - rules/usage_count.md
  - rules/watchers.md

plugins:
  - search
  - mkdocstrings:
      show_root_heading: false
      show_bases: false
      handlers:
        python:
          paths: [../searchv2]





markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
