{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load package_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <table id="home-packages">
        <tr>
            <td>PYPI <img src="{{ STATIC_URL }}img/grayarrow_20x20_clear.png" /></td>
            <td>REPO <img src="{{ STATIC_URL }}img/whitearrow_20x20_clear.png" /></td>
            <td>NAME</td>
            <td>COMMITS</td>
            <td>VERSION</td>
            <td><img src="{{ STATIC_URL }}img/eye_20x20_clear.png" /></td>
            <td><img src="{{ STATIC_URL }}img/fork_20x20_clear.png" /></td>
        </tr>
        <tr>
            <td>501</td>
            <td>620</td>
            <td>django-uni-form</td>
            <td>|||||||||||||||||||||||||||||</td>
            <td>0.7.0</td>
            <td>217</td>
            <td>33</td>
        </tr>
        <tr>
            <td>501</td>
            <td>620</td>
            <td>django-uni-form</td>
            <td><img id="package-githubcommits" src="http://chart.apis.google.com/chart?cht=bvg&chs=450x30&chd=t:0,0,00,0,0,0,0,0,00,0,0,0,0,0&chco=666666&chbh=a&chds=0,20" /></td>
            <td>0.7.0</td>
            <td>217</td>
            <td>33</td>
        </tr>
    </table>

{% endblock %}
