{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load package_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}watched{% endblock %}

{% block body %}
    <table id="home-packages">
        <tr>
            <td>PYPI <img src="{{ STATIC_URL }}img/grayarrow_20x20_clear.png" /></td>
            <td>NAME</td>
            <td>COMMITS</td>
            <td>VERSION</td>
            <td><img src="{{ STATIC_URL }}img/eye_20x20_clear.png" /></td>
            <td><img src="{{ STATIC_URL }}img/fork_20x20_clear.png" /></td>
        </tr>
        {% for package in object_list %}
            <tr>
                <td>{{ package.pypi_downloads }}</td>
                <td>{{ package.title }}</td>
                <td><img id="package-githubcommits" src="http://chart.apis.google.com/chart?cht=bvg&chs=105x30&chd=t:{{package|commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" /></td>
                <td>{{ package.pypi_version }}</td>
                <td>{{ package.repo_watchers }}</td>
                <td>{{ package.repo_forks }}</td>
            </tr>    
        {% endfor %}        
     </table>
    
    

{% endblock %}
