{% extends "base.html" %}

{% load i18n %}
{% load analytics %}
{% load homepage_tags %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/rabbits.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<h1><a href="{% url home %}">Django Packages<!--TODO: make header logo graphic. <img src="{{ STATIC_URL }}pinax/img/logo.png" alt="Pinax"/>--></a></h1><h2>reusable apps, sites, tools, and more for your Django projects</h2>{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
{% endblock %}

{% block left_tabs %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_home"><a href="{% url home %}">{% trans "Home" %}</a></li>
            {% get_tabs %}
            {% for tab in tabs %}
                <li id="tab_{{ tab.grid.title }}"><a href="{% url grid tab.grid.slug %}">{{ tab.grid.title }}</a></li>                
            {% endfor %}
        {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
<div class="legal">
    <hr />
    {% trans "&copy; 2010 Daniel Greenfeld & Audrey Roy" %}
    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    - <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a>
    - <a href="{% url dmca %}">{% trans "DMCA Notice" %}</a>
</div>
{% endblock %}

{% block extra_body_base %}
    {% ga %}
    {% block extra_body %}{% endblock %}
{% endblock %}
