{% extends "base.html" %}

{% load i18n %}
{% load analytics %}
{% load homepage_tags %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/rabbits.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<h1><a href="{% url home %}">Django Packages</a></h1><h2>reusable apps, sites, tools, and more for your Django projects</h2>{% endblock %}

{% block login %}
    {% include "account/_account_bar.html" %}
{% endblock %}

{% block left_tabs %}
    <div id="cardboard-boxes">
        <img src="{{ STATIC_URL }}img/logo.png" />
    </div>
    <ul class="tabs">{% spaceless %}
        {% get_tabs %}
        {% for tab in tabs %}
            <li id="tab_{{ tab.grid.title }}"><a href="{% url grid tab.grid.slug %}">{{ tab.grid.title }}</a></li>
        {% endfor %}
        <li id="tab_addgrid"><a href="{% url add_grid %}">Add grid</a></li>
    {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
<div class="legal">
    <hr />
    {% trans "&copy; 2010 Daniel Greenfeld & Audrey Roy" %}
    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
</div>
{% endblock %}

{% block extra_body_base %}
    {% ga %}
    {% block extra_body %}{% endblock %}
{% endblock %}
