{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load account_tags %}

{% block head_title %}{% user_display other_user as other_user_display %}{% blocktrans %}Profile for {{ other_user_display }}{% endblocktrans %}{% endblock %}

{% block body %}
    {% user_display other_user as other_user_display %}
    
    <div class="vcard">
        {% if other_user.get_profile.name %}
            <h1>{% blocktrans %}Profile for <span class="nickname">{{ other_user_display }}</span>{% endblocktrans %}</h1>
        {% else %}
            <h1>{% blocktrans %}Profile for <span class="fn nickname">{{ other_user_display }}</span>{% endblocktrans %}</h1>
        {% endif %}
        
        <div class="profile_info">
            {% if other_user.get_full_name %}
                <p><b>{% trans "Name" %}</b>: <span class="fn">{{ other_user.get_full_name }}</span></p>
            {% endif %}
            <p><b>{% trans "Github account" %}</b>:
                    {% if other_user.get_profile.github_url %}
                        <span class="fn"><a href="http://github.com/{{ other_user.get_profile.github_url }}">{{ other_user.get_profile.github_url }}</a></span>
                    {% endif %}
            </p>
            <p><b>{% trans "BitBucket account" %}</b>: 
                    {% if other_user.get_profile.bitbucket_url %}
                        <span class="fn"><a href="http://bitbucket.com/{{ other_user.get_profile.bitbucket_url }}">{{ other_user.get_profile.bitbucket_url }}</a></span>
                    {% endif %}</p>
            <p><b>{% trans "Google Code account" %}</b>:
                    {% if other_user.get_profile.google_code_url %}
                        <span class="fn"><a href="http://code.google.com/u/{{ other_user.get_profile.google_code_url|urlize }}/">{{ other_user.get_profile.google_code_url|urlize }}</a></span>
                    {% endif %}</p>
        </div>
                
        {% if is_me %}
            <p><a href="{% url profile_edit %}" rel="facebox">Edit profile</a></p>
        {% endif %}
        
    </div>
{% endblock %}

