name: Update Contributors

on:
  # Every day at 2:30am
  schedule:
    - cron: "30 2 * * *"
  # Manual trigger
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Update list
      run: uv run scripts/update_contributors.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: Update Contributors
        file_pattern: CONTRIBUTORS.md .github/contributors.json
